<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>삼포지점 객실배치도</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <!--<link rel="stylesheet" href="http://static.coresco.co.kr/css/task/room_layout.css">-->
  <link rel="stylesheet" href="../../src/css/task/room_layout.css">
  
  <style>
    .bgColor0 {background-color: #eee;}
    .bgColor1 {background-color: #00B0F0;}
    .bgColor2 {background-color: #FFFF00}
    .bgColor3 {background-color: #FF0000;}
    .bgColor4 {background-color: #92D050;}
    .bgColor5 {background-color: #FFFFFF;}
    .bgColor6 {background-color: #0070C0;}
    .bgColor7 {background-color: #7030A0;}
  </style>
</head>
<body>

<div id="room-layout-wrap">
  <h1>삼포지점 객실배치도</h1>
  
  <div class="layout-info cf">
    <div class="left">
      <ul class="u1 cf">
        <li class="l-1 bgColor0"></li>
        <li class="l-2">판매불가및보류 40실</li>
      </ul>
      <ul class="u1 cf">
        <li class="l-1 bgColor1"></li>
        <li class="l-2">23MC 6실</li>
      </ul>
      <ul class="u1 cf">
        <li class="l-1 bgColor2"></li>
        <li class="l-2">23OA 22실(정면)</li>
      </ul>
      <ul class="u1 cf">
        <li class="l-1 bgColor3"></li>
        <li class="l-2">23OB 22실</li>
      </ul>
    </div>
    <div class="right">
      <ul class="u1 cf">
        <li class="l-1 bgColor4"></li>
        <li class="l-2">23OC 16실</li>
      </ul>
      <ul class="u1 cf">
        <li class="l-1 bgColor5"></li>
        <li class="l-2">23ma 130실</li>
      </ul>
      <ul class="u1 cf">
        <li class="l-1 bgColor6"></li>
        <li class="l-2">vip객실 1실</li>
      </ul>
      <ul class="u1 cf">
        <li class="l-1 bgColor7"></li>
        <li class="l-2">23OA 13실(측면)</li>
      </ul>
    </div>
    <p class="cf"></p>
    <p class="view-wrap">
      <em class="n2">&#42; 짝수방: 오션뷰</em><em class="n2-1">&#42; 홀수방: 마운틴뷰</em>
    </p>
  </div>
  
  
  <div class="room-layout">
    
    <ul class="rl-type cf">
      <li class="t-a">A</li>
      <li class="t-b">B</li>
      <li class="t-c">C</li>
    </ul>
    
    <div class="floor-7 cf">
      <div class="left">
        <ul class="u1-1 cf">
          <li>701</li>
          <li>703</li>
          <li>705</li>
          <li>707</li>
        </ul>
        <ul class="u1-2 cf">
          <li>702</li>
          <li>704</li>
          <li>706</li>
          <li>708</li>
        </ul>
      </div>
      <div class="center">
        <ul class="u1-1 cf">
          <li>709</li>
          <li>711</li>
          <li>713</li>
          <li>715</li>
          <li>717</li>
          <li>719</li>
          <li>721</li>
          <li>723</li>
          <li>725</li>
          <li>727</li>
        </ul>
        <ul class="u1-2 cf">
          <li>710</li>
          <li>712</li>
          <li>714</li>
          <li>716</li>
          <li>718</li>
          <li>720</li>
          <li>722</li>
          <li>724</li>
          <li>726</li>
          <li>728</li>
        </ul>
      </div>
      <div class="right">
        <ul class="u1-1 cf">
          <li>729</li>
          <li>731</li>
          <li>733</li>
        </ul>
        <ul class="u1-2 cf">
          <li>730</li>
          <li class="col2">734</li>
        </ul>
      </div>
    </div>
    <div class="floor-6 cf">
      <div class="left">
        <ul class="u1-1 cf">
          <li>601</li>
          <li>603</li>
          <li>605</li>
          <li>607</li>
          <li>609</li>
        </ul>
        <ul class="u1-2 cf">
          <li></li>
          <li>602</li>
          <li>604</li>
          <li>606</li>
          <li>608</li>
        </ul>
      </div>
      <div class="center">
        <ul class="u1-1 cf">
          <li>611</li>
          <li>613</li>
          <li>615</li>
          <li>617</li>
          <li>619</li>
          <li>621</li>
          <li>623</li>
          <li>625</li>
          <li>627</li>
          <li>629</li>
        </ul>
        <ul class="u1-2 cf">
          <li>610</li>
          <li>612</li>
          <li>614</li>
          <li>616</li>
          <li>618</li>
          <li>620</li>
          <li>622</li>
          <li>624</li>
          <li>626</li>
          <li>628</li>
        </ul>
      </div>
      <div class="right">
        <ul class="u1-1 cf">
          <li>631</li>
          <li>633</li>
          <li>635</li>
          <li>637</li>
        </ul>
        <ul class="u1-2 cf">
          <li>630</li>
          <li>632</li>
          <li>634</li>
          <li>636</li>
        </ul>
      </div>
    </div>
    <div class="floor-5 cf">
      <div class="left">
        <ul class="u1-1 cf">
          <li>501</li>
          <li>503</li>
          <li>505</li>
          <li>507</li>
          <li>509</li>
          <li>511</li>
        </ul>
        <ul class="u1-2 cf">
          <li>502</li>
          <li></li>
          <li>504</li>
          <li>506</li>
          <li>508</li>
          <li>510</li>
        </ul>
      </div>
      <div class="center">
        <ul class="u1-1 cf">
          <li>513</li>
          <li>515</li>
          <li>517</li>
          <li>519</li>
          <li>521</li>
          <li>523</li>
          <li>525</li>
          <li>527</li>
          <li>529</li>
          <li>531</li>
        </ul>
        <ul class="u1-2 cf">
          <li>512</li>
          <li>514</li>
          <li>516</li>
          <li>518</li>
          <li>520</li>
          <li>522</li>
          <li>524</li>
          <li>526</li>
          <li>528</li>
          <li>530</li>
        </ul>
      </div>
      <div class="right">
        <ul class="u1-1 cf">
          <li>533</li>
          <li>535</li>
          <li>537</li>
          <li>539</li>
          <li>541</li>
        </ul>
        <ul class="u1-2 cf">
          <li>532</li>
          <li>534</li>
          <li>536</li>
          <li>538</li>
          <li>540</li>
        </ul>
      </div>
    </div>
    <div class="floor-4 cf">
      <div class="left">
        <ul class="u1-1 cf">
          <li>401</li>
          <li>403</li>
          <li>405</li>
          <li>407</li>
          <li>409</li>
          <li>411</li>
          <li>413</li>
        </ul>
        <ul class="u1-2 cf">
          <li>402</li>
          <li>404</li>
          <li></li>
          <li>406</li>
          <li>408</li>
          <li>410</li>
          <li>412</li>
        </ul>
      </div>
      <div class="center">
        <ul class="u1-1 cf">
          <li>415</li>
          <li>417</li>
          <li>419</li>
          <li>421</li>
          <li>423</li>
          <li>425</li>
          <li>427</li>
          <li>429</li>
          <li>431</li>
          <li>433</li>
        </ul>
        <ul class="u1-2 cf">
          <li>414</li>
          <li>416</li>
          <li>418</li>
          <li>420</li>
          <li>422</li>
          <li>424</li>
          <li>426</li>
          <li>428</li>
          <li>430</li>
          <li>432</li>
        </ul>
      </div>
      <div class="right">
        <ul class="u1-1 cf">
          <li>435</li>
          <li>437</li>
          <li>439</li>
          <li>441</li>
          <li>443</li>
          <li>445</li>
        </ul>
        <ul class="u1-2 cf">
          <li>434</li>
          <li>436</li>
          <li>438</li>
          <li>440</li>
          <li>442</li>
          <li>444</li>
        </ul>
      </div>
    </div>
    <div class="floor-3 cf">
      <div class="left">
        <ul class="u1-1 cf">
          <li>301</li>
          <li>303</li>
          <li>305</li>
          <li>307</li>
          <li>309</li>
          <li>311</li>
          <li>313</li>
        </ul>
        <ul class="u1-2 cf">
          <li>302</li>
          <li>304</li>
          <li></li>
          <li>306</li>
          <li>308</li>
          <li>310</li>
          <li>312</li>
        </ul>
      </div>
      <div class="center">
        <ul class="u1-1 cf">
          <li>314</li>
          <li>315</li>
          <li>316</li>
          <li>317</li>
          <li>318</li>
          <li>319</li>
          <li>320</li>
          <li>321</li>
          <li>322</li>
          <li>323</li>
        </ul>
        <ul class="u1-2 cf">
        </ul>
      </div>
      <div class="right">
        <ul class="u1-1 cf">
          <li>325</li>
          <li>327</li>
          <li>329</li>
          <li>331</li>
          <li>333</li>
          <li>335</li>
        </ul>
        <ul class="u1-2 cf">
          <li>324</li>
          <li>326</li>
          <li>328</li>
          <li>330</li>
          <li>332</li>
          <li>334</li>
        </ul>
      </div>
    </div>
    <div class="floor-2 cf">
      <div class="left">
        <ul class="u1-1 cf">
          <li>201</li>
          <li>203</li>
          <li>205</li>
          <li>207</li>
          <li>209</li>
          <li>211</li>
          <li>213</li>
        </ul>
        <ul class="u1-2 cf">
          <li>202</li>
          <li>204</li>
          <li></li>
          <li>206</li>
          <li>208</li>
          <li>210</li>
          <li>212</li>
        </ul>
      </div>
      <div class="center">
        <ul class="u1-1 cf">
          <li>214</li>
          <li>215</li>
          <li>216</li>
          <li>217</li>
          <li>218</li>
          <li>219</li>
          <li>220</li>
          <li>221</li>
          <li>222</li>
          <li>223</li>
        </ul>
        <ul class="u1-2 cf">
          <li class="center">연 회 장</li>
        </ul>
      </div>
      <div class="right">
        <ul class="u1-1 cf">
          <li>225</li>
          <li>227</li>
          <li>229</li>
          <li>231</li>
          <li>233</li>
          <li>235</li>
        </ul>
        <ul class="u1-2 cf">
          <li>224</li>
          <li>226</li>
          <li>228</li>
          <li>230</li>
          <li>232</li>
          <li>234</li>
        </ul>
      </div>
    </div>
    <div class="floor-1 cf">
      <div class="left">
        <ul class="u1-1 cf">
          <li>101</li>
          <li>103</li>
          <li>105</li>
          <li>107</li>
          <li>109</li>
          <li>111</li>
          <li>113</li>
        </ul>
        <ul class="u1-2 cf">
          <li>102</li>
          <li>104</li>
          <li></li>
          <li>106</li>
          <li>108</li>
          <li>110</li>
          <li>112</li>
        </ul>
      </div>
      <div class="center">
        <ul class="u1-0 cf">
          <li class="center">후 론 트</li>
        </ul>
      </div>
      <div class="right">
        <ul class="u1-1 cf">
          <li>115</li>
          <li>117</li>
          <li>119</li>
          <li>121</li>
          <li>123</li>
          <li>124</li>
        </ul>
        <ul class="u1-2 cf">
          <li>114</li>
          <li>116</li>
          <li>118</li>
          <li>120</li>
          <li>122</li>
          <li></li>
        </ul>
      </div>
    </div>
    
  </div>
</div>
  
</body>
</html>