<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>코레스코</title>
  <!--대표도메인설정-->
  <link rel="canonical" href="http://www.coresco.co.kr" />

  <link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/jquery.bxslider.css"/>
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/override.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/common.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/index.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/season/season.css">


  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/index.js"></script>

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://static.coresco.co.kr/css/ie9_lt.css">

    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<h1 class="skip">코레스코</h1>
<div id="wrap">
  <header class="header">
    <div class="header-box clearfix">
      <h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/coresco_nav_brand.png" alt="코레스코로고"></a></h2>
      <ul class="main-nav">
        <li><a href="#intro">코레스코소개</a></li>
        <li><a href="#branch-intro">지점소개</a></li>
        <li><a href="#branch-sampo">삼포지점</a></li>
        <li><a href="#branch-chiak">치악지점</a></li>
        <li><a href="#branch-seorak">설악지점</a></li>
        <li><a href="#way-to-come">오시는길</a></li>
        <li><a class="c-blue" href="#">사고팔고</a></li>
      </ul>
    </div>
  </header>
  <div class="header affix" id="header-affix">
    <div class="header-box clearfix">
      <h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/coresco_nav_brand.png" alt="코레스코로고"></a></h2>
      <ul class="main-nav">
        <li><a href="#intro">코레스코소개</a></li>
        <li><a href="#branch-intro">지점소개</a></li>
        <li><a href="#branch-sampo">삼포지점</a></li>
        <li><a href="#branch-chiak">치악지점</a></li>
        <li><a href="#branch-seorak">설악지점</a></li>
        <li><a href="#way-to-come">오시는길</a></li>
        <li><a class="c-blue" href="#">사고팔고</a></li>
      </ul>
    </div>
  </div>
  <div class="season">
	<div class="season-area">
		<div class="top">
			<strong class="title">코레스코 콘도 2017년 여름 성수기 이용신청 <span>1차</span></strong>
			<p>기간 : 2017.05.15 ~ 2017.05.31 / 1차 당첨자발표는 6월 13일 홈페이지와 입력하신 연락처로 개별 안내드립니다.</p>
		</div>
		<div class="mid">
			<table>
				<colgroup>
					<col style="width:290px;" />
					<col style="width:*;" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row"><label for="Name">이름 <span class="mark">*</span></label></th>
						<td><input type="text" id="Name" placeholder="성함을 입력해주세요." /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Number">전화번호 <span class="mark">*</span></label></th>
						<td><input type="text" id="Number" placeholder="연락처를 입력해주세요." /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Birth">생년월일 <span class="mark">*</span></label></th>
						<td><input type="text" id="Birth" placeholder="생년월일을 입력해주세요." /></td>
					</tr>
					<tr>
						<th scope="row">주소</th>
						<td>
							<input type="text" value="주소를 검색해주세요." readonly />
							<a href="#" class="find">검색</a>
						</td>
					</tr>
					<tr>
						<th scope="row"><label for="Member">회원번호</label></th>
						<td><input type="text" id="Member" placeholder="회원번호를 입력해주세요." /></td>
					</tr>
					<tr>
						<th scope="row">지점</th>
						<td>
							<input type="radio" id="Store01" name="store" checked="checked" />
							<label for="Store01" class="on">삼포지점(오션투유)</label>
							<input type="radio" id="Store02" name="store" style="margin-left:35px;" />
							<label for="Store02">치악지점</label>
							<input type="radio" id="Store03" name="store" style="margin-left:35px;" />
							<label for="Store03">설악지점</label>
						</td>
					</tr>
					<tr>
						<th scope="row">투숙희망일</th>
						<td><input type="text" class="date" readonly /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
			$('td label').on('click', function(){
				if ($('input[type="radio"]').is(':checked'))
				{
					$(this).addClass('on').siblings('label').removeClass('on');
				}
			});
		</script>
		<div class="btm">
			<a href="#">신청하기</a>
			<p>* 표시는 필수로 입력해야 합니다.</p>
		</div>
	</div>
  </div>
</div>
</body>
</html>