<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>코레스코</title>
  <!--대표도메인설정-->
  <link rel="canonical" href="http://www.coresco.co.kr" />
  
  <link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/jquery.bxslider.css"/>
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/override.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/common.css">
  <link rel="stylesheet" href="../src/css/common.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/index.css">
  <!-- <link rel="stylesheet" href="../src/css/override.css">
  <link rel="stylesheet" href="../src/css/common.css">
  <link rel="stylesheet" href="../src/css/index.css"> -->


  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/index.js"></script>
  <!-- <script type="text/javascript" src="../src/js/index.js"></script> -->
  
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://static.coresco.co.kr/css/ie9_lt.css">

    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<h1 class="skip">코레스코</h1>
<div id="wrap">
  <header class="header">
    <div class="header-box clearfix">
      <h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/coresco_nav_brand.png" alt="코레스코로고"></a></h2>
      <ul class="main-nav">
        <li><a href="#intro">코레스코소개</a></li>
        <li><a href="#branch-intro">지점소개</a></li>
        <li><a href="#branch-sampo">삼포지점</a></li>
        <li><a href="#branch-chiak">치악지점</a></li>
        <li><a href="#branch-seorak">설악지점</a></li>
        <li><a href="#way-to-come">오시는길</a></li>
        <li><a class="c-blue" href="#">사고팔고</a></li>
      </ul>
    </div>
  </header>
  <div class="header affix" id="header-affix">
    <div class="header-box clearfix">
      <h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/coresco_nav_brand.png" alt="코레스코로고"></a></h2>
      <ul class="main-nav">
        <li><a href="#intro">코레스코소개</a></li>
        <li><a href="#branch-intro">지점소개</a></li>
        <li><a href="#branch-sampo">삼포지점</a></li>
        <li><a href="#branch-chiak">치악지점</a></li>
        <li><a href="#branch-seorak">설악지점</a></li>
        <li><a href="#way-to-come">오시는길</a></li>
        <li><a class="c-blue" href="#">사고팔고</a></li>
      </ul>
    </div>
  </div>
  <section class="intro" id="intro">
    <h2><img src="http://img.coresco.co.kr/main_mt.png" alt="인사의말씀"></h2>
  </section>
  <section class="branch-intro" id="branch-intro">
    <h2>지점소개</h2>
    <div class="bi-outer">
      <ul class="bi-box clearfix">
        <li class="bi-inner">
          <h3>삼포지점 (오션투유)</h3>
          <div class="bi-t-box">
            <span class="bi-t-ing fc-white">운영중</span>
            <img class="bi-thumb" src="http://img.coresco.co.kr/branch_sampo.jpg" alt="삼포지점">
          </div>
          <p class="fc-blue mt">주소</p>
          <p>강원도 고성군 죽왕면 삼포리 243-13</p>
          <a class="bi-link" href="http://www.ocean2you.co.kr/reservation/?dd=WxszRixQP1cpEUZ2TnE=" target="_blank">회원예약 바로가기<img src="http://img.coresco.co.kr/k_icon.png" alt="바로가기"></a>
        </li>
        <li class="bi-inner">
          <h3>치악지점</h3>
          <div class="bi-t-box">
            <span class="bi-t-ing fc-white">운영중</span>
            <img class="bi-thumb" src="http://img.coresco.co.kr/branch_chiak.jpg" alt="치악지점">
          </div>
          <p class="fc-blue mt">주소</p>
          <p>강원도 횡성군 우천면 오원리 539-1</p>
          <a class="bi-link" href="http://www.ocean2you.co.kr/reservation/?dd=WxszRixQP1cpEUZ2TnE=" target="_blank">회원예약 바로가기<img src="http://img.coresco.co.kr/k_icon.png" alt="바로가기"></a>
        </li>
        <li class="bi-inner">
          <h3>설악지점</h3>
          <div class="bi-t-box">
            <span class="bi-t-ing not fc-white">미운영</span>
            <img class="bi-thumb" src="http://img.coresco.co.kr/branch_seorak.jpg" alt="설악지점">
          </div>
          <p class="fc-blue mt">주소</p>
          <p class="ls">강원도 속초시 노학동 746-68번지 (척산온천단지내)</p>
          <a class="bi-link not" href="javascript:void(0)">미운영</a>
        </li>
      </ul>
      <p class="fc-white bi-fc mt">- 성수기(7월~8월) 예약은 추첨을 통해 진행됩니다.</p>
      <p class="fc-white bi-fc">- 예약가능한 오션투유(삼포지점), 치악지점은 코레스코 회원가로 이용가능합니다.</p>
    </div>
  </section>
  
  <div class="branch-wrap">
    <section class="branch-sampo" id="branch-sampo">
      <div class="bs-wrap">
        <h2>삼포지점</h2>    
        <ul class="bs-box">
          <li><img src="http://img.coresco.co.kr/sampo/sampo_photo1.jpg" alt="삼포지점"></li>
          <li><img src="http://img.coresco.co.kr/sampo/sampo_photo2.jpg" alt="삼포지점"></li>
          <li><img src="http://img.coresco.co.kr/sampo/sampo_photo3.jpg" alt="삼포지점"></li>
          <li><img src="http://img.coresco.co.kr/sampo/sampo_photo4.jpg" alt="삼포지점"></li>
          <li><img src="http://img.coresco.co.kr/sampo/sampo_photo5.jpg" alt="삼포지점"></li>
          <li><img src="http://img.coresco.co.kr/sampo/sampo_photo6.jpg" alt="삼포지점"></li>
          <li><img src="http://img.coresco.co.kr/sampo/sampo_photo7.jpg" alt="삼포지점"></li>
          <li><img src="http://img.coresco.co.kr/sampo/sampo_photo8.jpg" alt="삼포지점"></li>
        </ul>
        <ul class="detail-info">
          <li class="di-li clearfix">
            <p class="di-tit fc-blue">위치</p>
            <p class="di-txt">강원도 고성군 중왕면 삼포리 243-13 (삼포해수욕장내)</p>
          </li>
          <li class="di-li clearfix">
            <p class="di-tit fc-blue">객실안내</p>
            <p class="di-txt">
              총 보유 객실: 241개 / 총 실가동 객실: 236개 (오션: 86개 , 마운틴: 155개)<br/>
              76.57㎡ 5인실기준 (실평수는 13~14평정도 이유: 공유공간까지 포함하여 계산했기 때문)<br/>
              1층 짝수방, 2층 3층 가운데라인, C존라인 홀수방 해변쪽 방이 아님!<br/>
              짝수방은 오션 , 홀수방은 마운틴<br/>
              A존 맨 좌측라인 701~708/601~609/501~510/401~413/301~313/201~213/101~113<br/>
              B존 가운데라인 709~728/610~629/512~531/414~433/314~323/214~223/후론트<br/>
              C존 맨 우측라인 729~734/630~637/532~541/434~445/324~335/225~235/114~124<br/>
            </p>
          </li>
          <li class="di-li clearfix">
            <p class="di-tit fc-blue">부대시설</p>
            <p class="di-txt">한식당, 노래방, 슈퍼마켓, 당구장, 기념품점, 카페, 사우나, 세미나실, 로비라운지</p>
          </li>
        </ul>
        <!-- <h3 class="pt-tit fc-blue">오션 객실 요금(76.57㎡ 동일형)</h3>
        <div class="price-table">
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">객실형</li>
            <li class="pt-cell pt-th nth-2">구분</li>
            <li class="pt-cell pt-th nth-3">개인회원</li>
            <li class="pt-cell pt-th nth-4">법인회원</li>
            <li class="pt-cell pt-th nth-5">연간회원</li>
            <li class="pt-cell pt-th nth-6">대여관리비</li>
            <li class="pt-cell pt-th nth-7">일반</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">Standard<br/>(기본형)</li>
            <li class="pt-cell pt-td nth-2">
              <div class="pt-c-txt">주중</div>
              <div class="pt-c-txt">주말/연휴</div>
              <div class="pt-c-txt">성수기</div>
            </li>
            <li class="pt-cell pt-td nth-3">
              <div class="pt-c-txt">69,000</div>
              <div class="pt-c-txt">84,000</div>
              <div class="pt-c-txt">130,000</div>
            </li>
            <li class="pt-cell pt-td nth-4">
              <div class="pt-c-txt">81,000</div>
              <div class="pt-c-txt">87,000</div>
              <div class="pt-c-txt">140,000</div>
            </li>
            <li class="pt-cell pt-td nth-5">
              <div class="pt-c-txt">81,000</div>
              <div class="pt-c-txt">87,000</div>
              <div class="pt-c-txt">150,000</div>
            </li>
            <li class="pt-cell pt-td nth-6">
              <div class="pt-c-txt">85,000</div>
              <div class="pt-c-txt">93,000</div>
              <div class="pt-c-txt">150,000</div>
            </li>
            <li class="pt-cell pt-td nth-7">330,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">Deluxe<br/>(호텔형)<br/>(취사가 안되는방)</li>
            <li class="pt-cell pt-td nth-2">
              <div class="pt-c-txt">주중</div>
              <div class="pt-c-txt">주말/연휴</div>
              <div class="pt-c-txt">성수기</div>
            </li>
            <li class="pt-cell pt-td nth-3">
              <div class="pt-c-txt">69,000</div>
              <div class="pt-c-txt">84,000</div>
              <div class="pt-c-txt">160,000</div>
            </li>
            <li class="pt-cell pt-td nth-4">
              <div class="pt-c-txt">81,000</div>
              <div class="pt-c-txt">87,000</div>
              <div class="pt-c-txt">170,000</div>
            </li>
            <li class="pt-cell pt-td nth-5">
              <div class="pt-c-txt">81,000</div>
              <div class="pt-c-txt">87,000</div>
              <div class="pt-c-txt">180,000</div>
            </li>
            <li class="pt-cell pt-td nth-6">
              <div class="pt-c-txt">85,000</div>
              <div class="pt-c-txt">93,000</div>
              <div class="pt-c-txt">180,000</div>
            </li>
            <li class="pt-cell pt-td nth-7">330,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">Special<br/>(리모델링방)<br/>(취사가 되는방)</li>
            <li class="pt-cell pt-td nth-2">
              <div class="pt-c-txt">주중</div>
              <div class="pt-c-txt">주말/연휴</div>
              <div class="pt-c-txt">성수기</div>
            </li>
            <li class="pt-cell pt-td nth-3">
              <div class="pt-c-txt">69,000</div>
              <div class="pt-c-txt">84,000</div>
              <div class="pt-c-txt">160,000</div>
            </li>
            <li class="pt-cell pt-td nth-4">
              <div class="pt-c-txt">81,000</div>
              <div class="pt-c-txt">87,000</div>
              <div class="pt-c-txt">170,000</div>
            </li>
            <li class="pt-cell pt-td nth-5">
              <div class="pt-c-txt">81,000</div>
              <div class="pt-c-txt">87,000</div>
              <div class="pt-c-txt">180,000</div>
            </li>
            <li class="pt-cell pt-td nth-6">
              <div class="pt-c-txt">85,000</div>
              <div class="pt-c-txt">93,000</div>
              <div class="pt-c-txt">180,000</div>
            </li>
            <li class="pt-cell pt-td nth-7">330,000</li>
          </ul>
        </div>
        <h3 class="pt-tit fc-blue">마운틴 객실 요금(76.57㎡ 동일형)</h3>
        <div class="price-table">
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">객실형</li>
            <li class="pt-cell pt-th nth-2">구분</li>
            <li class="pt-cell pt-th nth-3">개인회원</li>
            <li class="pt-cell pt-th nth-4">법인회원</li>
            <li class="pt-cell pt-th nth-5">연간회원</li>
            <li class="pt-cell pt-th nth-6">대여관리비</li>
            <li class="pt-cell pt-th nth-7">일반</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">Standard<br/>(기본형)</li>
            <li class="pt-cell pt-td nth-2">
              <div class="pt-c-txt">주중</div>
              <div class="pt-c-txt">주말/연휴</div>
              <div class="pt-c-txt">성수기</div>
            </li>
            <li class="pt-cell pt-td nth-3">
              <div class="pt-c-txt">54,000</div>
              <div class="pt-c-txt">69,000</div>
              <div class="pt-c-txt">115,000</div>
            </li>
            <li class="pt-cell pt-td nth-4">
              <div class="pt-c-txt">66,000</div>
              <div class="pt-c-txt">72,000</div>
              <div class="pt-c-txt">120,000</div>
            </li>
            <li class="pt-cell pt-td nth-5">
              <div class="pt-c-txt">66,000</div>
              <div class="pt-c-txt">72,000</div>
              <div class="pt-c-txt">125,000</div>
            </li>
            <li class="pt-cell pt-td nth-6">
              <div class="pt-c-txt">70,000</div>
              <div class="pt-c-txt">78,000</div>
              <div class="pt-c-txt">125,000</div>
            </li>
            <li class="pt-cell pt-td nth-7">330,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">Deluxe<br/>(호텔형)<br/>(취사가 안되는방)</li>
            <li class="pt-cell pt-td nth-2">
              <div class="pt-c-txt">주중</div>
              <div class="pt-c-txt">주말/연휴</div>
              <div class="pt-c-txt">성수기</div>
            </li>
            <li class="pt-cell pt-td nth-3">
              <div class="pt-c-txt">54,000</div>
              <div class="pt-c-txt">69,000</div>
              <div class="pt-c-txt">115,000</div>
            </li>
            <li class="pt-cell pt-td nth-4">
              <div class="pt-c-txt">66,000</div>
              <div class="pt-c-txt">72,000</div>
              <div class="pt-c-txt">120,000</div>
            </li>
            <li class="pt-cell pt-td nth-5">
              <div class="pt-c-txt">66,000</div>
              <div class="pt-c-txt">72,000</div>
              <div class="pt-c-txt">125,000</div>
            </li>
            <li class="pt-cell pt-td nth-6">
              <div class="pt-c-txt">70,000</div>
              <div class="pt-c-txt">78,000</div>
              <div class="pt-c-txt">125,000</div>
            </li>
            <li class="pt-cell pt-td nth-7">330,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">Special<br/>(리모델링방)<br/>(취사가 되는방)</li>
            <li class="pt-cell pt-td nth-2">
              <div class="pt-c-txt">주중</div>
              <div class="pt-c-txt">주말/연휴</div>
              <div class="pt-c-txt">성수기</div>
            </li>
            <li class="pt-cell pt-td nth-3">
              <div class="pt-c-txt">54,000</div>
              <div class="pt-c-txt">69,000</div>
              <div class="pt-c-txt">120,000</div>
            </li>
            <li class="pt-cell pt-td nth-4">
              <div class="pt-c-txt">66,000</div>
              <div class="pt-c-txt">72,000</div>
              <div class="pt-c-txt">130,000</div>
            </li>
            <li class="pt-cell pt-td nth-5">
              <div class="pt-c-txt">66,000</div>
              <div class="pt-c-txt">72,000</div>
              <div class="pt-c-txt">140,000</div>
            </li>
            <li class="pt-cell pt-td nth-6">
              <div class="pt-c-txt">70,000</div>
              <div class="pt-c-txt">78,000</div>
              <div class="pt-c-txt">140,000</div>
            </li>
            <li class="pt-cell pt-td nth-7">330,000</li>
          </ul>
        </div>
        <p class="pt-ps">- 비고 : 리모델링비 미납 회원님은 리모델링 객실 배정시 30,000원 추가비용 발생</p>
        <p class="pt-ps">- 오션(바다전망) = 15,000원 추가. *오션(바다전망)+리모델링 = 30,000원 추가</p>
         -->
      </div>
    </section>
    <section class="branch-chiak" id="branch-chiak">
      <div class="bs-wrap">
        <h2>치악지점</h2>    
        <ul class="bs-box">
          <li><img src="http://img.coresco.co.kr/chiak/chiak_photo1.jpg" alt="치악지점"></li>
          <li><img src="http://img.coresco.co.kr/chiak/chiak_photo2.jpg" alt="치악지점"></li>
          <li><img src="http://img.coresco.co.kr/chiak/chiak_photo3.jpg" alt="치악지점"></li>
          <li><img src="http://img.coresco.co.kr/chiak/chiak_photo4.jpg" alt="치악지점"></li>
        </ul>
        <ul class="detail-info">
          <li class="di-li clearfix">
            <p class="di-tit fc-blue">위치</p>
            <p class="di-txt">강원도 횡성군 우천면 오원리 539-1</p>
          </li>
          <li class="di-li clearfix">
            <p class="di-tit fc-blue">객실안내</p>
            <p class="di-txt">
              치악지점 객실 - 85.95㎡ : 147객실 / 128.92㎡ : 20객실<br/>
              총객실: 167개
            </p>
          </li>
          <li class="di-li clearfix">
            <p class="di-tit fc-blue">부대시설</p>
            <p class="di-txt">노래방, 슈퍼마켓, 한식당, 오락실 등</p>
          </li>
        </ul>
        <!-- <h3 class="pt-tit fc-blue">객실 요금</h3>
        <div class="price-table">
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">구분</li>
            <li class="pt-cell pt-th nth-2">주중</li>
            <li class="pt-cell pt-th nth-3">주말/연휴</li>
            <li class="pt-cell pt-th nth-4">성수기</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">개인회원</li>
            <li class="pt-cell pt-td nth-2">65,000</li>
            <li class="pt-cell pt-td nth-3">69,000</li>
            <li class="pt-cell pt-td nth-4">75,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">법인회원</li>
            <li class="pt-cell pt-td nth-2">66,000</li>
            <li class="pt-cell pt-td nth-3">72,000</li>
            <li class="pt-cell pt-td nth-4">85,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">연간회원</li>
            <li class="pt-cell pt-td nth-2">66,000</li>
            <li class="pt-cell pt-td nth-3">72,000</li>
            <li class="pt-cell pt-td nth-4">90,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">대여관리비</li>
            <li class="pt-cell pt-td nth-2">70,000</li>
            <li class="pt-cell pt-td nth-3">75,000</li>
            <li class="pt-cell pt-td nth-4">100,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">일반가격</li>
            <li class="pt-cell pt-td nth-2 p-c-3">330,000</li>
          </ul>
        </div> -->

      </div>
    </section>
    <section class="branch-seorak" id="branch-seorak">
      <div class="bs-wrap">
        <h2>설악지점</h2>    
        <ul class="bs-box">
          <li><img src="http://img.coresco.co.kr/seorak/seorak_photo1.jpg" alt="설악지점"></li>
          <li><img src="http://img.coresco.co.kr/seorak/seorak_photo2.jpg" alt="설악지점"></li>
          <li><img src="http://img.coresco.co.kr/seorak/seorak_photo3.jpg" alt="설악지점"></li>
          <li><img src="http://img.coresco.co.kr/seorak/seorak_photo4.jpg" alt="설악지점"></li>
        </ul>
        <ul class="detail-info">
          <li class="di-li clearfix">
            <p class="di-tit fc-blue">위치</p>
            <p class="di-txt">강원도 속초시 노학동 746-68번지 (천산온천단지내)</p>
          </li>
          <li class="di-li clearfix">
            <p class="di-tit fc-blue">객실안내</p>
            <p class="di-txt">
              치악지점 객실 : A- 타입(한실): 129실 (76.57㎡) / B- 타입(양실): 33실 / 128.92㎡ (76.57㎡)<br/>
              총객실: 162개
            </p>
          </li>
          <li class="di-li clearfix">
            <p class="di-tit fc-blue">부대시설</p>
            <p class="di-txt">한식당, 노래방, 슈퍼마켓, 당구장, 오락실, 기념품점, 카페, 사우나, 세미나실, 로비라운지</p>
          </li>
        </ul>
        <!-- <h3 class="pt-tit fc-blue">객실 요금</h3>
        <div class="price-table">
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-th nth-1">구분</li>
            <li class="pt-cell pt-th nth-2">주중</li>
            <li class="pt-cell pt-th nth-3">주말/연휴</li>
            <li class="pt-cell pt-th nth-4">성수기</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">개인회원</li>
            <li class="pt-cell pt-td nth-2">65,000</li>
            <li class="pt-cell pt-td nth-3">69,000</li>
            <li class="pt-cell pt-td nth-4">75,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">법인회원</li>
            <li class="pt-cell pt-td nth-2">66,000</li>
            <li class="pt-cell pt-td nth-3">72,000</li>
            <li class="pt-cell pt-td nth-4">85,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">연간회원</li>
            <li class="pt-cell pt-td nth-2">66,000</li>
            <li class="pt-cell pt-td nth-3">72,000</li>
            <li class="pt-cell pt-td nth-4">90,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">대여관리비</li>
            <li class="pt-cell pt-td nth-2">70,000</li>
            <li class="pt-cell pt-td nth-3">75,000</li>
            <li class="pt-cell pt-td nth-4">100,000</li>
          </ul>
          <ul class="pt-row clearfix">
            <li class="pt-cell pt-td nth-1">일반가격</li>
            <li class="pt-cell pt-td nth-2 p-c-3">330,000</li>
          </ul>
        </div> -->

      </div>
    </section>
  </div>
  <!-- 오시는 길 영역 -->
  <section class="way-to-come" id="way-to-come">
    <h2>오시는길</h2>
    <div class="way-box">
      <ul class="w-t-inner clearfix" id="w-t-inner">
        <li class="way-tit fc-black on">삼포 코레스코</li>
        <li class="way-tit fc-black">치악 코레스코</li>
        <li class="way-tit fc-black">설악 코레스코</li>
      </ul>
      <ul class="w-m-inner clearfix" id="w-m-inner">
        <li class="way-map on">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1565.1809326307755!2d128.5299036568763!3d38.31745028852349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fd894b74d5ee2c3%3A0x7596cbb2b5c79b18!2z6rCV7JuQ64-EIOqzoOyEseq1sCDso73smZXrqbQg7IK87Y-s66asIDI0My0xMw!5e0!3m2!1sko!2skr!4v1489021506831" frameborder="0" allowfullscreen></iframe>
        </li>
        <li class="way-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1583.9950986927743!2d128.0944536568577!3d37.437336339274154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3563a5ad45539f6f%3A0xdaa6e089c90ed205!2z6rCV7JuQ64-EIO2aoeyEseq1sCDsmrDsspzrqbQg7Jik7JuQ66asIDUzOS0x!5e0!3m2!1sko!2skr!4v1489022134082" frameborder="0" allowfullscreen></iframe>
        </li>
        <li class="way-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1567.9237978739832!2d128.53959315687334!3d38.19021409592099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fd8bcbf34f148bf%3A0xfc37cfccdb56fa9!2z7LKZ7IKw7Jio7LKc7Zy07JaR7LSM!5e0!3m2!1sko!2skr!4v1489022186983" frameborder="0" allowfullscreen></iframe>
        </li>
      </ul>
      <ul class="w-a-inner clearfix" id="w-a-inner">
        <li class="way-adr fc-black on"><span class="adr-icon fc-blue">주소</span>강원도 고성군 죽왕면 삼포리 243-13 (삼포해수욕장내)</li>
        <li class="way-adr fc-black"><span class="adr-icon fc-blue">주소</span>강원도 횡성군 우천면 오원리 539-1</li>
        <li class="way-adr fc-black"><span class="adr-icon fc-blue">주소</span>강원도 속초시 노학동 746-68번지 (천산온천단지내)</li>
      </ul>
    </div>
  </section>
</div>
<!-- <footer class="footer">
  <div class="f-outer clearfix">
    <div class="f-logo-box"><img src="http://img.coresco.co.kr/coresco_footer_brand.png" alt="코레스코로고"></div>
    <div class="f-txt-box">
      <address>(주)코레스코 ㅣ 사업자등록번호 220-81-09638 ㅣ 강원도 횡성군 우천면 전재로 254</address>
      <small>COPYRIGHT <span>koresco</span> CO..LTD ALL RIGHTS RESERVED.</small>
    </div>
  </div>
</footer> -->
<footer class="footer">
  <div class="f-outer clearfix">
    <div class="f-logo-box"><img src="http://img.coresco.co.kr/coresco_footer_brand_170404.png" alt="코레스코로고"></div>
    <div>
      <img src="http://img.coresco.co.kr/footer_call_1.jpg?ver=20170324121942" alt="코레스코 회원문의">
      <img src="http://img.coresco.co.kr/footer_call_2.jpg?ver=20170324121942" alt="삼포치악 예약문의">
      <img src="http://img.coresco.co.kr/footer_call_3.jpg?ver=20170324121942" alt="삼포지점 이용문의">
    </div>
    <div class="f-txt-box">
      <address>(주)이스턴월드 ㅣ 사업자등록번호 120-88-03537 ㅣ 서울특별시 서초구 남부순환로 2646, 4층 402호</address>
      <div>   
        <div>
          <p>
            케이알리젠시(kr리젠시), 아이에프지엔드씨(IFG&amp;C), 케이피엠(KMP) 등 은  (주)이스턴월드와 아무런 연관이 없으며, (주)이스턴월드 또는<br>
            코레스코 3개의 체인시설 &lt;삼포(오션투유), 치악, 설악&gt; 지점 등의 이름을 사칭하여 홍보 하는 행위를 적발시 즉시 신고해 주시기 바랍니다.<br>
          </p>
          <p>
            당사는 당사와 아무런 연관 및 이해관계 없는자들이 코레스코지점 및 (주)이스턴월드를 사칭하여 불법으로 콘도분양한 자료를 현재 수집중이며<br>
            민형사상 손해배상 청구등을 준비중입니다. ( 이에 따른 내용을 잘 알고 계신 분께는 사안에 따라 포상금을 지급해 드리겠습니다. )<br>
          </p>
        </div>
        <small>COPYRIGHT ⓒ <span>Easternworld</span> CO..LTD ALL RIGHTS RESERVED.</small>
      </div>
    </div>
  </div>
</footer>

</body>

</html>