<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>코레스코</title>
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/reset.css" />
<link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common.css" />
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/board/board.css" />
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/swiper.min.js"></script>
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js"></script>
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common_tmp.css" />
</head>
<body>
	<div id="Wrapper">
		<header>
			<h1><a href="#">코레스코</a></h1>
			<nav class="tab swiper-container">
				<ul class="gnb swiper-wrapper">
					<li class="swiper-slide"><a href="#" class="on">소개</a></li>
					<li class="swiper-slide"><a href="#">지점소개</a></li>
					<li class="swiper-slide"><a href="#">삼포지점</a></li>
					<li class="swiper-slide"><a href="#">치악지점</a></li>
					<li class="swiper-slide"><a href="#">설악지점</a></li>
					<li class="swiper-slide"><a href="#">오시는길</a></li>
					<li class="swiper-slide"><a href="#">사고팔고</a></li>
				</ul>
			</nav>
		</header>
		<div class="group">
			<h2 class="tit"><span>코레스코</span> 회원권 거래</h2>
			<div class="board type01">
				<div class="board-view">
					<p class="view-tit">
						[팝니다] 회원권 저렴하게 판매합니다. (네고 가능)<br>
						<span>김지영 2017-03-27</span>
					</p>
					<div class="board-detail">
						<div class="board-txt">
							<p>
								회원권 저렴하게 판매합니다.<br>
								구매하실 분 010-1111-1111으로 연락 주세요!
							</p>
						</div>
						<div class="btn-wrap">
							<div class="left">
								<a href="#" class="btn btn-style02">목록보기</a>
							</div>
							<div class="right">
								<a href="#" class="btn btn-style02">수정</a>
								<a href="#" class="btn btn-style02">삭제</a>
							</div>
						</div>
						<div class="comment">
							<form action="">
								<fieldset>
									<legend>댓글 작성자 및 비밀번호 입력</legend>
									<div class="login">
										<div class="column">
											<ul>
												<li>
													<label for="Writer">작성자</label>
												</li>
												<li>
													<input type="text" title="이름을 입력하세요" id="Writer" class="txt_box" style="width:100%;" />
												</li>
											</ul>
										</div>
										<div class="column">
											<ul>
												<li>
													<label for="Password">비밀번호</label>
												</li>
												<li>
													<input type="password" title="비밀번호를 입력하세요" id="Password" class="txt_box" style="width:100%;" />
												</li>
											</ul>
										</div>
									</div>
									<div class="c-write">
										<div>
											<textarea name="" id="" cols="" rows=""></textarea>
										</div>
										<div>
											<input type="submit" value="등록" />
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<ul class="comment-list">
						<li>
							<div class="user">
								<strong>김지영</strong> <span>2017.03.28 10:11</span>
							</div>
							<p>회원권 구매 희망합니다.</p>
							<div class="modify">
								<a href="#" class="s-btn btn-style02">수정</a>
								<a href="#" class="s-btn btn-style02">삭제</a>
							</div>
						</li>
						<li>
							<div class="user">
								<strong>김지영</strong> <span>2017.03.28 10:11</span>
							</div>
							<p>회원권 구매 희망합니다.</p>
							<div class="modify">
								<a href="#" class="s-btn btn-style02">수정</a>
								<a href="#" class="s-btn btn-style02">삭제</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="paging">
				<a href="#" class="first" title="처음으로">&lt;&lt;</a>
				<a href="#" title="이전으로">&lt;</a>
				<a href="#" class="on">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#" title="다음으로">&gt;</a>
				<a href="#" class="last" title="마지막으로">&gt;&gt;</a>
			</div>
			<div class="search">
				<select name="" id="" class="select_box">
					<option value="전체">전체</option>
				</select>
				<div class="search-bar">
					<input type="text" title="검색어를 입력하세요" placeholder="검색어입력" class="txt_box" style="width:100%;" />
				</div>
				<input type="submit" value="검색" />
			</div>
		</div>
		<footer>
			<ul>
				<li class="f-ico01">
					<a href="tel:1666-4874" title="코레스코 회원권 문의전화"><span>회원권 문의</span></a>
				</li>
				<li class="f-ico02">
					<a href="tel:070-7688-2457" title="삼포지점 이용 문의전화"><span>삼포지점 이용문의</span></a>
				</li>
				<li class="f-ico03">
					<a href="tel:033-631-3811" title="삼포/치악지점 예약 문의전화"><span>예약문의</span></a>
				</li>
			</ul>
			<address>
				<p>(주)코레스코 | 사업자등록번호 220-81-09638 | 강원도 횡성군 우천면 전재로 254</p>
				<p>케이알리젠시(kr리젠시), 아이에프지엔드씨(IFG&amp;C), 케이피엠(KMP) 등 은 (주)코레스코와 아무런 연관이 없으며, (주)코레스코 또는 코레스코 3개의 체인시설 &lt;삼포(오션투유), 치악, 설악&gt; 지점 등의 이름을 사칭하여 홍보 하는 행위를 적발시 즉시 신고해 주시기 바랍니다. </p>
				<p>당사는 당사와 아무런 연관 및 이해관계 없는자들이 코레스코지점 및 (주)코레스코를 사칭하여 불법으로 콘도분양한 자료를 현재 수집중이며 민형사상 손해배상 청구등을 준비중입니다. ( 이에 따른 내용을 잘 알고 계신 분께는 사안에 따라 포상금을 지급해 드리겠습니다. )</p>
				<p>COPYRIGHT koresco CO..LTD ALL RIGHTS RESERVED.</p>
			</address>
		</footer>
	</div>
	<div class="quick">
		<strong>예약문의</strong>
		<div class="call">
			<ul>
				<li class="k-member">
					<a href="tel:1666-4874" title="코레스코 회원권 문의전화">
						코레스코 회원권 문의<br>
						<span>1666-4874</span>
					</a>
				</li>
				<li>
					<a href="tel:070-7688-2457" title="삼포/치악지점 예약 문의전화">
						삼포/치악 지점예약 문의<br>
						070-7688-2457
					</a>
				</li>
				<li>
					<a href="tel:033-631-3811" title="삼포지점 이용 문의전화">
						삼포지점 이용문의<br>
						033-631-3811
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>