<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no, address=no, email=no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
		<title>코레스코</title>
		<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/reset.css" />
		<link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
		<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common.css" />
		<!--<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/board/board.css" />-->
		<link rel="stylesheet" href="../../../src/css/m/board/board.css" />
		<script type="text/javascript" src="http://static.coresco.co.kr/js/m/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="http://static.coresco.co.kr/js/m/swiper.min.js"></script>
		<script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js"></script>
		<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common_tmp.css" />
	</head>
	<body>
		<div id="Wrapper">
			<header>
				<h1><a href="#">코레스코</a></h1>
				<nav class="tab swiper-container">
					<ul class="gnb swiper-wrapper">
						<li class="swiper-slide"><a href="#" class="on">소개</a></li>
						<li class="swiper-slide"><a href="#">지점소개</a></li>
						<li class="swiper-slide"><a href="#">삼포지점</a></li>
						<li class="swiper-slide"><a href="#">치악지점</a></li>
						<li class="swiper-slide"><a href="#">설악지점</a></li>
						<li class="swiper-slide"><a href="#">오시는길</a></li>
						<li class="swiper-slide"><a href="#">사고팔고</a></li>
					</ul>
				</nav>
			</header>
			<div class="group">
				<h2 class="tit"><span>코레스코</span> 회원권 거래</h2>
				<div class="board type01">
					<div class="board-view">
						<p class="view-tit">
							보증금 반환금 문의 답변드립니다.<br>
							<!--변경내용170712_작성자-->
							<span><img class="logo" src="http://img.koresco.kr/coresco_logo.png">&nbsp; <span class="s-date">2017-04-17</span></span>
						</p>
						<!--변경내용170712_ answer 클래스 추가-->
						<div class="board-detail answer">
							<div class="board-txt">
								<p>
									<!--답변내용 , 보증금 반환금 문의 / 작성자  5615-->
									안녕하세요. 회원님 코레스코입니다.<br>
									우리 (주)코레스코에서는 위 상황처럼
									회원권관련하여 별도로 회원님들께 보증금반환조건에 대해 어떠한 항목으로도
									입금을 강요하는 행위를 하고 있지 않습니다.<br><br>

									본사이트 메인화면에 보시면 그간 (주)코레스코를 사칭하여 회원님들을 대상으로 금원을 요구하는 회사명을
									안내하여 드리고 있습니다.<br><br>

									참고하시어 회원님들이 불편을 겪는 일이 발생하지 않으셨으면 합니다.<br><br>

									감사합니다.
									<!--답변내용 , 회원권팝니다  / 작성자  정영훈-->
									<!--안녕하세요. 회원님 코레스코입니다.<br>
									"사고팔고" 게시판에 글작성시에는 회원권에 대한 기본적인 사항과 연락을 받으실수 있는  
									메일, 연락처 등을 같이 기재해주시길 당부드립니다.-->
								</p>
								<p class="orgin-txt">
									<!--변경내용_170712_기존 문의 글, 글에 맞게 변경-->
									<span class="fq-q">문의 글</span>
									031-675-3413번으로 미납금 입금하면 만료시 보증금 반환 한다는데?<br>
									코레스코 라고 하는데?
								</p>
							</div>
							<div class="btn-wrap">
								<div class="left">
									<a href="#" class="btn btn-style02">목록보기</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<ul>
					<li class="f-ico01">
						<a href="tel:1666-4874" title="코레스코 회원권 문의전화"><span>회원권 문의</span></a>
					</li>
					<li class="f-ico02">
						<a href="tel:070-7688-2457" title="삼포지점 이용 문의전화"><span>삼포지점 이용문의</span></a>
					</li>
					<li class="f-ico03">
						<a href="tel:033-631-3811" title="삼포/치악지점 예약 문의전화"><span>예약문의</span></a>
					</li>
				</ul>
				<address>
					<p>(주)코레스코 | 사업자등록번호 220-81-09638 | 강원도 횡성군 우천면 전재로 254</p>
					<p>케이알리젠시(kr리젠시), 아이에프지엔드씨(IFG&amp;C), 케이피엠(KMP) 등 은 (주)코레스코와 아무런 연관이 없으며, (주)코레스코 또는 코레스코 3개의 체인시설 &lt;삼포(오션투유), 치악, 설악&gt; 지점 등의 이름을 사칭하여 홍보 하는 행위를 적발시 즉시 신고해 주시기 바랍니다. </p>
					<p>당사는 당사와 아무런 연관 및 이해관계 없는자들이 코레스코지점 및 (주)코레스코를 사칭하여 불법으로 콘도분양한 자료를 현재 수집중이며 민형사상 손해배상 청구등을 준비중입니다. ( 이에 따른 내용을 잘 알고 계신 분께는 사안에 따라 포상금을 지급해 드리겠습니다. )</p>
					<p>COPYRIGHT koresco CO..LTD ALL RIGHTS RESERVED.</p>
				</address>
			</footer>
		</div>
		<div class="quick">
			<strong>예약문의</strong>
			<div class="call">
				<ul>
					<li class="k-member">
						<a href="tel:1666-4874" title="코레스코 회원권 문의전화">
							코레스코 회원권 문의<br>
							<span>1666-4874</span>
						</a>
					</li>
					<li>
						<a href="tel:070-7688-2457" title="삼포/치악지점 예약 문의전화">
							삼포/치악 지점예약 문의<br>
							070-7688-2457
						</a>
					</li>
					<li>
						<a href="tel:033-631-3811" title="삼포지점 이용 문의전화">
							삼포지점 이용문의<br>
							033-631-3811
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>