<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>코레스코</title>
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/reset.css" />
<link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common.css" />
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/board/board.css" />
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/swiper.min.js"></script>
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js"></script>
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common_tmp.css" />
</head>
<body>
	<div id="Wrapper">
		<header>
			<h1><a href="#">코레스코</a></h1>
			<nav class="tab swiper-container">
				<ul class="gnb swiper-wrapper">
					<li class="swiper-slide"><a href="#" class="on">소개</a></li>
					<li class="swiper-slide"><a href="#">지점소개</a></li>
					<li class="swiper-slide"><a href="#">삼포지점</a></li>
					<li class="swiper-slide"><a href="#">치악지점</a></li>
					<li class="swiper-slide"><a href="#">설악지점</a></li>
					<li class="swiper-slide"><a href="#">오시는길</a></li>
					<li class="swiper-slide"><a href="#">사고팔고</a></li>
				</ul>
			</nav>
		</header>
		<div class="group">
			<h2 class="tit"><span>코레스코</span> 회원권 거래</h2>
			<div class="board type01">
				<form action="">
					<fieldset>
						<legend>코레스코 회원권 거래 게시판</legend>
						<table class="board-write">
							<caption>코레스코 회원권 거래 게시판 글 쓰기</caption>
							<colgroup>
								<col style="width:8%;" />
								<col style="width:42%;" />
								<col style="width:8%;" />
								<col style="width:42%;" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row"><label for="Title">제목</label></th>
									<td colspan="3">
										<input type="text" title="제목을 입력하세요" id="Title" class="txt_box" style="width:100%;" />
									</td>
								</tr>
								<tr>
									<th scope="row"><label for="Name">작성자</label></th>
									<td>
										<input type="text" title="이름을 입력하세요" id="Name" class="txt_box" style="width:100%" />
									</td>
									<th scope="row">분류</th>
									<td>
										<select name="" id="" class="select_box" style="width:100px; max-width:100%;">
											<option value="삽니다">삽니다</option>
											<option value="팝니다">팝니다</option>
										</select>
									</td>
								</tr>
								<tr>
									<th scope="row" colspan="4"><label for="Write">내용</label></th>
								</tr>
								<tr>
									<td colspan="4">
										<textarea name="" id="Write" rows="4"></textarea>
									</td>
								</tr>
								<tr>
									<th scope="row"><label for="Password">비밀번호</label></th>
									<td>
										<input type="password" title="비밀번호를 입력하세요" id="Password" class="txt_box" style="width:100%;" />
									</td>
									<th scope="row">첨부</th>
									<td>
										<div class="filebox">
											<label for="ex_filename">파일찾기</label>
											<input class="upload-name" disabled="disabled">
											<input type="file" id="ex_filename" class="upload-hidden">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</form>
				<div class="btn-area">
					<a href="#" class="btn btn-style02">취소</a>
					<a href="#" class="btn btn-style01">등록</a>
				</div>
			</div>
		</div>
		<footer>
			<ul>
				<li class="f-ico01">
					<a href="tel:1666-4874" title="코레스코 회원권 문의전화"><span>회원권 문의</span></a>
				</li>
				<li class="f-ico02">
					<a href="tel:070-7688-2457" title="삼포지점 이용 문의전화"><span>삼포지점 이용문의</span></a>
				</li>
				<li class="f-ico03">
					<a href="tel:033-631-3811" title="삼포/치악지점 예약 문의전화"><span>예약문의</span></a>
				</li>
			</ul>
			<address>
				<p>(주)코레스코 | 사업자등록번호 220-81-09638 | 강원도 횡성군 우천면 전재로 254</p>
				<p>케이알리젠시(kr리젠시), 아이에프지엔드씨(IFG&amp;C), 케이피엠(KMP) 등 은 (주)코레스코와 아무런 연관이 없으며, (주)코레스코 또는 코레스코 3개의 체인시설 &lt;삼포(오션투유), 치악, 설악&gt; 지점 등의 이름을 사칭하여 홍보 하는 행위를 적발시 즉시 신고해 주시기 바랍니다. </p>
				<p>당사는 당사와 아무런 연관 및 이해관계 없는자들이 코레스코지점 및 (주)코레스코를 사칭하여 불법으로 콘도분양한 자료를 현재 수집중이며 민형사상 손해배상 청구등을 준비중입니다. ( 이에 따른 내용을 잘 알고 계신 분께는 사안에 따라 포상금을 지급해 드리겠습니다. )</p>
				<p>COPYRIGHT koresco CO..LTD ALL RIGHTS RESERVED.</p>
			</address>
		</footer>
	</div>
	<div class="quick">
		<strong>예약문의</strong>
		<div class="call">
			<ul>
				<li class="k-member">
					<a href="tel:1666-4874" title="코레스코 회원권 문의전화">
						코레스코 회원권 문의<br>
						<span>1666-4874</span>
					</a>
				</li>
				<li>
					<a href="tel:070-7688-2457" title="삼포/치악지점 예약 문의전화">
						삼포/치악 지점예약 문의<br>
						070-7688-2457
					</a>
				</li>
				<li>
					<a href="tel:033-631-3811" title="삼포지점 이용 문의전화">
						삼포지점 이용문의<br>
						033-631-3811
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>