<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>코레스코</title>
  <!--대표도메인설정-->
  <link rel="canonical" href="http://www.coresco.co.kr" />

  <link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/jquery.bxslider.css"/>
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/override.css">
  <!-- <link rel="stylesheet" href="http://static.coresco.co.kr/css/common.css"> -->
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/member/member.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/common_tmp.css">


  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/index.js"></script>
  <!-- <script type="text/javascript" src="../src/js/index.js"></script> -->

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://static.coresco.co.kr/css/ie9_lt.css">

    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<h1 class="skip">코레스코</h1>
<div id="wrap">
  <header class="header">
    <div class="gnb-wrap">
		<div class="gnb-menu">
			<a href="#">홈</a>
			&nbsp;
			|
			&nbsp;
			<a href="#">회원가입</a>
			&nbsp;
			|
			&nbsp;
			<a href="#">로그인</a>
		</div>
	</div>
	<div class="header-box clearfix">
      <h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/h1_logo.gif" alt="코레스코로고"></a></h2>
      <ul class="main-nav">
        <li><a href="#intro">코레스코소개</a></li>
        <li><a href="#">회원정보조회</a></li>
        <li><a href="#branch-sampo">삼포지점</a></li>
        <li><a href="#branch-chiak">치악지점</a></li>
        <li><a href="#branch-seorak">설악지점</a></li>
        <li><a href="#way-to-come">오시는길</a></li>
        <li><a class="c-blue" href="#">사고팔고</a></li>
      </ul>
    </div>
  </header>
  <div class="header affix" id="header-affix">
    <div class="gnb-wrap">
		<div class="gnb-menu">
			<a href="#">홈</a>
			&nbsp;
			|
			&nbsp;
			<a href="#">회원가입</a>
			&nbsp;
			|
			&nbsp;
			<a href="#">로그인</a>
		</div>
	</div>
    <div class="header-box clearfix">
      <h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/h1_logo.gif" alt="코레스코로고"></a></h2>
      <ul class="main-nav">
        <li><a href="#intro">코레스코소개</a></li>
        <li><a href="#">회원정보조회</a></li>
        <li><a href="#branch-sampo">삼포지점</a></li>
        <li><a href="#branch-chiak">치악지점</a></li>
        <li><a href="#branch-seorak">설악지점</a></li>
        <li><a href="#way-to-come">오시는길</a></li>
        <li><a class="c-blue" href="#">사고팔고</a></li>
      </ul>
    </div>
  </div>

  <div class="sec">
	<div class="group">
		<h3 class="tit">회원정보 조회 결과</h3>
		<p class="s_tit">고객님의 코레스코 회원권 정보를 확인하기 위해 회원가입 절차가 필요합니다.</p>
		<div class="guide">
			<div>
				<p>
					고객님은 1955년 5월 13일짜로 코레스코 삼포지점의 등기회원으로 가입되었습니다.<br>
					㈜코레스코 멤버쉽, 등기등록 회원님께는 다음과 같이 프리미엄 회원서비스를 제공하고있으니 많은 이용 바랍니다.
				</p>
			</div>
			<span class="etc">※프리미엄 회원 서비스는 회원가입 후 이용가능합니다.</span>
		</div>
		<ul class="service">
			<li><a href="#" class="btn btn_type02">회원전용몰 이용가능</a></li>
			<li><a href="#" class="btn btn_type02">성수기 예약(추첨)</a></li>
			<li><a href="#" class="btn btn_type02">제휴시설 최저가 이용가능</a></li>
		</ul>
		<div class="notice">
			<p class="l_txt">회원가입을 하시면 <span>프리미엄 회원 서비스</span>를 이용하실 수 있습니다.</p>
			<p class="r_txt"><span class="mark">*</span> 필수입력 항목 표시입니다.</p>
		</div>
		<div class="board">
			<table summary="회원가입 양식란">
				<caption>회원가입 양식 작성</caption>
				<colgroup>
					<col style="width:160px;" />
					<col style="width:*;" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row"><label for="Id"><span class="mark">*</span> 아이디</label></th>
						<td><input type="text" title="사용할 아이디를 입력하세요" id="Id" style="width:192px;" /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Pw"><span class="mark">*</span> 비밀번호</label></th>
						<td><input type="password" title="사용할 비밀번호를 입력하세요" id="Pw" style="width:192px;" /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Pwck"><span class="mark">*</span> 비밀번호 재확인</label></th>
						<td><input type="password" title="비밀번호를 확인하세요" id="Pwck" style="width:192px;" /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Name"><span class="mark">*</span> 이름</label></th>
						<td><input type="text" title="이름을 입력하세요" id="Name" style="width:192px;" /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Birth"><span class="mark">*</span> 생년월일</label></th>
						<td><input type="text" title="생년월일을 입력하세요" maxlength="6" id="Birth" style="width:192px;" /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Gender"><span class="mark">*</span> 성별</label></th>
						<td><input type="text" title="성별을 입력하세요" id="Gender" style="width:100px;" /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Phone"><span class="mark">*</span> 핸드폰번호</label></th>
						<td>
							<input type="text" title="통신사번호 입력" maxlength="4" id="Phone" style="width:100px;" />
							&nbsp;-&nbsp;
							<input type="text" title="휴대폰번호 앞자리 입력" maxlength="4" style="width:100px;" />
							&nbsp;-&nbsp;
							<input type="text" title="휴대폰번호 뒷자리 입력" maxlength="4" style="width:100px;" />
							&nbsp;&nbsp;
							<a href="#" class="btn btn_type04">본인인증하기</a>
						</td>
					</tr>
					<tr>
						<th scope="row"><label for="Address"><span class="mark">*</span> 주소</label></th>
						<td>
							<input type="text" title="주소를 입력하세요" id="Address" style="width:400px;" />
							<span class="etc">※ 이벤트 진행시 필요하므로 정확한 정보를 기재해주세요.</span>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="join_btn">
				<a href="#" class="btn btn_type03">회원가입 완료</a>
			</div>
			<ul class="clause">
				<li class="on">
					<p>코레스코 이용약관 동의 (필수)</p>
					<div class="layer">
						<div class="txt">
							<strong class="title">제 1 장 총칙</strong>
							<p>제 1 조 (목적)이 약관은 주식회사 코레스코(이하 &quot;회사&quot;라 합니다)가 제공하는 통합 예약 온라인 서비스(이하 &quot;서비스&quot;라 한다)의 이용 조건 및 절차에 관한 기본적인 사항을 규정함을 목적으로 합니다.</p>
							<p>제 2 조 (약관의 효력 및 변경)</p>
							<ol>
								<li>1. 이 약관은 서비스 메뉴 및 회사에 게시하여 공시함으로써 효력을 발생합니다.</li>
								<li>2. 회사는 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다</li>
								<li>3. 회원제서비스 이용고객은 변경된 약관 사항에 동의하지 않으면 서비스 이용을 중단하고 이용계약을 해지할 수 있습니다. 약관의 효력발생일 이후의 계속적인 서비스 이용은 약관의 변경사항에 동의한 것으로 간주됩니다</li>
							</ol>
							<p>제 3 조 (약관 이외의 준칙)이 약관에 언급되지 않은 사항이 전기통신기본법, 전기통신사업법, 기타 관련법령에 규정되어 있는 경우 그 규정에 따라 적용할 수 있습니다.</p>
							<p>제 4 조 (용어의 정의)이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
							<ol>
								<li>1. 회원 : 서비스를 제공받기 위하여 회사와 이용계약을 체결하거나 이용자 Email ID를 부여 받은 자를 말합니다.</li>
								<li>2. Email ID : 회원의 식별과 서비스를 이용을 위하여 회원이 정하고 회사가 승인하는 Email 주소를 말합니다.</li>
								<li>3. 비밀번호 : 회원이 부여 받은 Email ID와 일치된 회원임을 확인하고 회원 자신의 비밀을 보호하기 위하여 회원이 정한 문자와 숫자의 조합을 말합니다</li>
								<li>4. 해지 : 회사 또는 회원이 서비스를 개통 후 이용계약을 종료 시키는 의사표시를 말합니다.</li>
							</ol>

							<strong class="title">제 2 장 서비스 이용계약</strong>
							<p>1. 제 5 조 (이용계약의 성립)이용계약은 서비스 이용희망자의 이용약관 신청에 대하여 회사가 승낙함으로써 성립합니다.</p>
							<p>2. 제 6 조 (이용신청)</p>
							<ol>
								<li>1. 본 서비스를 이용하기 위해서는 회사 소정의 가입신청 양식에서 요구하는 모든 이용자 정보를 기록하여 신청합니다.</li>
								<li>2. 가입신청 양식에 기재하는 모든 이용자 정보는 모두 실제 데이터인 것으로 간주됩니다. 실명이나 실제 정보를 입력하지 않은 사용자는 법적인 보호를 받을 수 없으며 서비스의 제한을 받을 수 있습니다.</li>
								<li>3. 본 서비스는 만 14세 이상의 고객들만 신청할 수 있으며, 가입신청 양식에서 가입 일자를 허위로 기재하여 가입한 경우, 해당 가입 신청은 무효로 하며, 이로 인하여 발생한 회사의 손해에 대해서는 고객께서 이를 부담할 수 있습니다.</li>
							</ol>
							<p>3. 제 7 조 (이용신청의 승낙)</p>
							<ol>
								<li>1. 회사는 제6조에 따른 이용 신청 고객에 대하여 제2호, 제3호의 경우를 예외로 하여 서비스 이용신청을 승낙합니다.</li>
								<li>
									2. 회사는 다음에 해당하는 경우에 그 신청에 대한 승낙 제한사유가 해소될 때까지 승낙을 유보할 수 있습니다.
									<ol>
										<li>가. 서비스 관련 설비의 용량이 부족한 경우</li>
										<li>나. 기술상 장애사유가 있는 경우</li>
										<li>다. 기타 회사가 필요하다고 인정되는 경우</li>
										<li>라. 기타 회사 소정의 이용신청요건을 충족하지 못하는 경우</li>
									</ol>
								</li>
							</ol>
							<p>4. 제 8 조 (이용자정보의 변경)회원은 이용신청 시 기재한 이용자정보가 변경되었을 경우에는, 온라인으로 수정을 하여야 하며 미 변경으로 인하여 발생되는 문제의 책임은 이용자에게 있습니다.</p>

							<strong class="title">제 3 장 계약 당사자의 의무</strong>
							<p>1. 제 9 조 (회사의 의무)</p>
							<ol>
								<li>
									1. 회사는 서비스 제공과 관련하여 취득한 회원의 개인정보를 본인의 사전 승낙 없이 타인에게 공개 또는 배포할 수 없습니다.(단, 다음 각 호의 1에 해당하는 경우는 예외입니다.)
									<ol>
										<li>가. 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우</li>
										<li>나. 범죄에 대한 수사상의 목적이 있거나 정보통신윤리 위원회의 요청이 있는 경우</li>
										<li>다. 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우</li>
									</ol>
								</li>
								<li>2. 1항의 범위 내에서, 회사는 업무와 관련하여 회원 전체 또는 일부의 개인 정보에 관한 통계 자료를 작성하여 이를 사용할 수 있고, 서비스를 통하여 회원의 컴퓨터 쿠키를 전송할 수 있습니다. 이 경우 회원은 쿠키의 수신을 거부하거나 쿠키의 수신에 대하여 경고하도록 사용하는 컴퓨터의 브라우저의 설정을 변경할 수 있습니다.</li>
							</ol>
							<p>2. 제 10 조 (회원의 의무)</p>
							<ol>
								<li>
									1. 회원은 서비스 이용 시 다음 각 호의 행위를 하지 않아야 합니다. 가. 다른 회원의 Email ID를 부정하게 사용하는 행위
									<ol>
										나. 서비스에서 얻은 정보를 회사의 사전승낙 없이 회원의 이용 이외의 목적으로 복사, 복제, 변경, 번역하거나 출판 및 방송 등에 사용하거나 타인에게 제공하는 행위
										<li>다. 회사의 저작권, 타인의 저작권 등 기타 권리를 침해하는 행위</li>
										<li>라. 공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형 등을 타인에게 유포하는 행위</li>
										<li>마. 범죄행위를 목적으로 하거나 범죄와 결부된다고 객관적으로 판단하는 행위</li>
										<li>바. 기타 관계법령에 위배되는 행위</li>
									</ol>
								</li>
								<li>2. 회원은 관계법령, 이 약관에서 규정하는 사항, 서비스 이용 안내 및 주의 사항을 준수 하여야 합니다.</li>
								<li>3. 회원은 내용별로 회사가 서비스 공지사항에 게시하거나 별도로 공지한 이용 제한 사항을 준수하여야 합니다.</li>
								<li>4. 회원은 회사의 사전 승낙 없이 서비스를 이용하여 어떠한 영리행위도 할 수 없습니다.</li>
							</ol>

							<strong class="title">제 4 장 서비스 제공 및 이용</strong>
							<p>1. 제 11 조 (회원 Email ID와 비밀번호 관리에 대한 회원의 의무)Email ID와 비밀번호에 대한 모든 관리는 회원에게 책임이 있습니다. 회원에게 부여된 Email ID와 비밀번호의 관리소홀, 부정사용에 의하여 발생하는 모든 결과에 대한 전적인 책임은 회원에게 있습니다. 자신의 Email ID가 부정하게 사용된 경우 또는 기타 보안 위반에 대하여, 회원은 반드시 회사에 그 사실을 통보해야 합니다.</p>
							<p>2. 제 12 조 (정보의 제공)회사는 회원의 서비스 이용 중 필요가 있다고 인정되는 다양한 점에 대해서 전자메일이나 서신우편 등의 방법으로 회원에게 제공할 수 있으며, 회원은 원하지 않을 경우 가입신청 메뉴와 회원정보수정 메뉴에서 정보수신거부를 할 수 있습니다.</p>
							<ol>
								<li>1. &quot;리워즈&quot; 회원에 관한 정보는 개인정보 관리 책임자 김문용 부장이 담당합니다.</li>
								<li>2. 수집목적: 회사의 이벤트 또는 각종 패키지 정보를 이메일 또는 기타 수단으로 전달 고객에게 보다 양질의 서비스 제공에 목적이 있으며 회사에 로열 회원 관리와 할인 혜택을 위해 수집 목적이 있습니다.</li>
								<li>3. 개인정보의 열람 및 정정 : 회원 정보 열람 및 수정은 사이트에서 언제나 가능합니다.</li>
								<li>4. 보유기간: 수집한 회원정보는 회원께서 회원탈퇴를 요청 이전 까지로 합니다.</li>
								<li>5. 수집 항목 : 회원정보수집 항목은 성명, 이름(영문포함), 생일, 주민번호, 이메일,핸드폰,집주소, 결혼여부,결혼기념일, 직업, 직장명, 직장주소, 취미,입니다.</li>
							</ol>
							<p>3. 제 13 조 (광고주와의 거래)회사는 본 서비스상에 게재되어 있거나 본 서비스를 통한 광고주의 판촉활동에 회원이 참여하거나 교신 또는 거래의 결과로서 발생하는 모든 손실 또는 손해에 대해 책임을 지지 않습니다.</p>
							<p>
								4. 제 14 조 (회원의 게시물)회사는 회원이 본 서비스를 통하여 게시, 게재, 전자메일 또는 달리 전송한 내용물에 대하여 책임을 지지 않으며, 다음 각 호의 1에 해당한다고 판단되는 경우에 사전통지 없이 삭제할 수 있습니다.
								<ol>
									<li>1. 다른 회원이나 타인을 비방하거나, 프라이버시를 침해하거나, 중상모략으로 명예를 손상시키는 내용인 경우.</li>
								</ol>
							</p>
						</div>
						<div class="agree">
							<input type="checkbox" id="Chk01" />
							<label for="Chk01">동의합니다</label>
						</div>
					</div>
				</li>
				<li>
					<p>개인정보 수집 및 이용약관에 대한 안내 (필수)</p>
					<div class="layer">
						<div class="txt">
							ㅁㅁㅁㅁ
						</div>
						<div class="agree">
							<input type="checkbox" id="Chk02" />
							<label for="Chk02">동의합니다</label>
						</div>
					</div>
				</li>
				<li>
					<p>이벤트 등 프로모션 알림(SMS) 수신</p>
					<div class="layer">
						<div class="txt">
							ㅁㅁㅁㅁ
						</div>
						<div class="agree">
							<input type="checkbox" id="Chk03" />
							<label for="Chk03">동의합니다</label>
						</div>
					</div>
				</li>
			</ul>
			<script type="text/javascript">
				$('.clause > li > p').click(function(){
					$(this).parent().toggleClass('on');
				});
			</script>
		</div>
	</div>
  </div>

<footer class="footer">
  <div class="f-outer clearfix">
    <div class="f-logo-box"><img src="http://img.coresco.co.kr/footer_logo.gif" alt="코레스코로고"></div>
    <div>
      <img src="http://img.coresco.co.kr/footer_call_1.jpg?ver=20170324121942" alt="코레스코 회원문의">
      <img src="http://img.coresco.co.kr/footer_call_2.jpg?ver=20170324121942" alt="삼포치악 예약문의">
      <img src="http://img.coresco.co.kr/footer_call_3.jpg?ver=20170324121942" alt="삼포지점 이용문의">
    </div>
    <div class="f-txt-box">
      <address>(주)코레스코 ㅣ 사업자등록번호 220-81-09638 ㅣ 강원도 횡성군 우천면 전재로 254</address>
      <div>
        <div>
          <p>
            케이알리젠시(kr리젠시), 아이에프지엔드씨(IFG&amp;C), 케이피엠(KMP) 등 은  (주)코레스코와 아무런 연관이 없으며, (주)코레스코 또는<br>
            코레스코 3개의 체인시설 &lt;삼포(오션투유), 치악, 설악&gt; 지점 등의 이름을 사칭하여 홍보 하는 행위를 적발시 즉시 신고해 주시기 바랍니다.<br>
          </p>
          <p>
            당사는 당사와 아무런 연관 및 이해관계 없는자들이 코레스코지점 및 (주)코레스코를 사칭하여 불법으로 콘도분양한 자료를 현재 수집중이며<br>
            민형사상 손해배상 청구등을 준비중입니다. ( 이에 따른 내용을 잘 알고 계신 분께는 사안에 따라 포상금을 지급해 드리겠습니다. )<br>
          </p>
        </div>
        <small>COPYRIGHT <span>koresco</span> CO..LTD ALL RIGHTS RESERVED.</small>
      </div>
    </div>
  </div>
</footer>

</body>

</html>