<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>코레스코</title>
  <!--대표도메인설정-->
  <link rel="canonical" href="http://www.coresco.co.kr" />

  <link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/notosanskr.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/jquery.bxslider.css"/>
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/override.css">
  <!-- <link rel="stylesheet" href="http://static.coresco.co.kr/css/common.css"> -->
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/member/member.css">
  <link rel="stylesheet" href="http://static.coresco.co.kr/css/common_tmp.css">



  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="http://static.coresco.co.kr/js/index.js"></script>
  <!-- <script type="text/javascript" src="../src/js/index.js"></script> -->

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://static.coresco.co.kr/css/ie9_lt.css">

    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<h1 class="skip">코레스코</h1>
<div id="wrap">
  <header class="header">
    <div class="gnb-wrap">
		<div class="gnb-menu">
			<a href="#">홈</a>
			&nbsp;
			|
			&nbsp;
			<a href="#">회원가입</a>
			&nbsp;
			|
			&nbsp;
			<a href="#">로그인</a>
		</div>
	</div>
	<div class="header-box clearfix">
      <h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/h1_logo.gif" alt="코레스코로고"></a></h2>
      <ul class="main-nav">
        <li><a href="#intro">코레스코소개</a></li>
        <li><a href="#">회원정보조회</a></li>
        <li><a href="#branch-sampo">삼포지점</a></li>
        <li><a href="#branch-chiak">치악지점</a></li>
        <li><a href="#branch-seorak">설악지점</a></li>
        <li><a href="#way-to-come">오시는길</a></li>
        <li><a class="c-blue" href="#">사고팔고</a></li>
      </ul>
    </div>
  </header>
  <div class="header affix" id="header-affix">
    <div class="gnb-wrap">
		<div class="gnb-menu">
			<a href="#">홈</a>
			&nbsp;
			|
			&nbsp;
			<a href="#">회원가입</a>
			&nbsp;
			|
			&nbsp;
			<a href="#">로그인</a>
		</div>
	</div>
    <div class="header-box clearfix">
      <h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/h1_logo.gif" alt="코레스코로고"></a></h2>
      <ul class="main-nav">
        <li><a href="#intro">코레스코소개</a></li>
        <li><a href="#">회원정보조회</a></li>
        <li><a href="#branch-sampo">삼포지점</a></li>
        <li><a href="#branch-chiak">치악지점</a></li>
        <li><a href="#branch-seorak">설악지점</a></li>
        <li><a href="#way-to-come">오시는길</a></li>
        <li><a class="c-blue" href="#">사고팔고</a></li>
      </ul>
    </div>
  </div>

  <div class="sec">
	<div class="group">
		<h3 class="tit">회원권등록현황</h3>
		<p class="s_tit">고객님의 코레스코 회원권 정보를 확인하기 위해 회원가입 절차가 필요합니다.</p>
		<div class="status">
			<p class="st_txt"><span>홍길동</span>님의 코레스코 회원권 등록 사항은 다음과 같습니다.</p>
		</div>
		<div class="board">
			<table summary="회원가입 양식란">
				<caption>회원가입 양식 작성</caption>
				<colgroup>
					<col style="width:160px;" />
					<col style="width:*;" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">이름</th>
						<td>홍길동</td>
					</tr>
					<tr>
						<th scope="row">성별</th>
						<td>남</td>
					</tr>
					<tr>
						<th scope="row">연락처</th>
						<td>010-1234-5678</td>
					</tr>
					<tr>
						<th scope="row">주소</th>
						<td>서울시 강남구 대치동 123번지</td>
					</tr>
					<tr>
						<th scope="row">계약일자</th>
						<td>1995년 03월 21일</td>
					</tr>
					<tr>
						<th scope="row">회원권 구분</th>
						<td>등기회원 or 일반회원(멤버십)</td>
					</tr>
					<tr>
						<th scope="row">등기지점</th>
						<td>삼포지점</td>
					</tr>
				</tbody>
			</table>
			<p class="btm_txt">※ 숙박예약/추첨(성수기)에 대해 궁금한 사항은 <span>070-7688-2457</span>로 문의해 주시기 바랍니다.</p>
			<div class="join_btn">
				<a href="#" class="btn btn_type02">코레스코 홈으로가기</a>
			</div>
		</div>
	</div>
  </div>

<footer class="footer">
  <div class="f-outer clearfix">
    <div class="f-logo-box"><img src="http://img.coresco.co.kr/footer_logo.gif" alt="코레스코로고"></div>
    <div>
      <img src="http://img.coresco.co.kr/footer_call_1.jpg?ver=20170324121942" alt="코레스코 회원문의">
      <img src="http://img.coresco.co.kr/footer_call_2.jpg?ver=20170324121942" alt="삼포치악 예약문의">
      <img src="http://img.coresco.co.kr/footer_call_3.jpg?ver=20170324121942" alt="삼포지점 이용문의">
    </div>
    <div class="f-txt-box">
      <address>(주)코레스코 ㅣ 사업자등록번호 220-81-09638 ㅣ 강원도 횡성군 우천면 전재로 254</address>
      <div>
        <div>
          <p>
            케이알리젠시(kr리젠시), 아이에프지엔드씨(IFG&amp;C), 케이피엠(KMP) 등 은  (주)코레스코와 아무런 연관이 없으며, (주)코레스코 또는<br>
            코레스코 3개의 체인시설 &lt;삼포(오션투유), 치악, 설악&gt; 지점 등의 이름을 사칭하여 홍보 하는 행위를 적발시 즉시 신고해 주시기 바랍니다.<br>
          </p>
          <p>
            당사는 당사와 아무런 연관 및 이해관계 없는자들이 코레스코지점 및 (주)코레스코를 사칭하여 불법으로 콘도분양한 자료를 현재 수집중이며<br>
            민형사상 손해배상 청구등을 준비중입니다. ( 이에 따른 내용을 잘 알고 계신 분께는 사안에 따라 포상금을 지급해 드리겠습니다. )<br>
          </p>
        </div>
        <small>COPYRIGHT <span>koresco</span> CO..LTD ALL RIGHTS RESERVED.</small>
      </div>
    </div>
  </div>
</footer>

</body>

</html>