<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>코레스코 콘도 2017년 여름 성수기 이용신청</title>
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/reset.css" />
<link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common.css" />
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/season/season.css" />
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/swiper.min.js"></script>
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js"></script>
</head>
<body>
<div id="Wrapper">
	<header>
		<h1><a href="#">코레스코</a></h1>
		<nav class="tab swiper-container">
			<ul class="gnb swiper-wrapper">
				<li class="swiper-slide"><a href="#Intro">소개</a></li>
				<li class="swiper-slide"><a href="#Store">지점소개</a></li>
				<li class="swiper-slide"><a href="#Sampo">삼포지점</a></li>
				<li class="swiper-slide"><a href="#Chiak">치악지점</a></li>
				<li class="swiper-slide"><a href="#Seorak">설악지점</a></li>
				<li class="swiper-slide"><a href="#Contact">오시는길</a></li>
				<li class="swiper-slide"><a href="#">사고팔고</a></li>
			</ul>
		</nav>
	</header>
	<div class="pop-season">
		<div class="top">
			<p class="title">
				코레스코 콘도 2017년<br>
				여름 성수기 이용신청
				<span>1차</span>
			</p>
			<p class="text">
				기간 : 2017.05.15 ~ 2017.05.31<br>
				1차 당첨자발표는 6월 13일 홈페이지와<br>
				입력하신 연락처로 개별 안내드립니다.
			</p>
		</div>
		<div class="mid">
			<table>
				<colgroup>
					<col style="width:100px;" />
					<col style="width:*;" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row"><label for="Name">이름 <span class="mark">*</span></label></th>
						<td><input type="text" id="Name" placeholder="성함을 입력해주세요." /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Number">전화번호 <span class="mark">*</span></label></th>
						<td><input type="text" id="Number" placeholder="연락처를 입력해주세요." /></td>
					</tr>
					<tr>
						<th scope="row"><label for="Birth">생년월일 <span class="mark">*</span></label></th>
						<td><input type="text" id="Birth" placeholder="생년월일을 입력해주세요." /></td>
					</tr>
					<tr>
						<th scope="row">주소</th>
						<td>
							<input type="text" value="주소를 검색해주세요." readonly />
							<input type="text" />
							<div class="btn-area">
								<a href="#" class="btn btn-style03">검색</a>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row"><label for="Member">회원번호</label></th>
						<td><input type="text" id="Member" placeholder="회원번호를 입력해주세요." /></td>
					</tr>
					<tr>
						<th scope="row">지점</th>
						<td>
							<div class="rad-box">
								<input type="radio" id="Store01" name="store" checked="checked" />
								<label for="Store01">삼포지점(오션투유)</label>
							</div>
							<div class="rad-box">
								<input type="radio" id="Store02" name="store" />
								<label for="Store02">치악지점</label>
							</div>
							<div class="rad-box">
								<input type="radio" id="Store03" name="store" />
								<label for="Store03">설악지점</label>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">투숙희망일</th>
						<td><input type="text" class="date" readonly /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="btm">
			<a href="#" class="btn btn-style01">신청하기</a>
			<p>* 표시는 필수로 이볅해야 합니다.</p>
		</div>
	</div>
</div>
</body>
</html>