<!doctype html>
<html lang=ko>
<head>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>코레스코</title>
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/reset.css" />
<link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common.css" />
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/index.css" />
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/swiper.min.js"></script>
<script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js"></script>
<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common_tmp.css" />

</head>
<body>
	<div id="Wrapper">
		<header>
			<h1><a href="#">코레스코</a></h1>
			<nav class="tab swiper-container">
				<ul class="gnb swiper-wrapper">
					<li class="swiper-slide"><a href="#" class="on">소개</a></li>
					<li class="swiper-slide"><a href="#">지점소개</a></li>
					<li class="swiper-slide"><a href="#">삼포지점</a></li>
					<li class="swiper-slide"><a href="#">치악지점</a></li>
					<li class="swiper-slide"><a href="#">설악지점</a></li>
					<li class="swiper-slide"><a href="#">오시는길</a></li>
					<li class="swiper-slide"><a href="#">사고팔고</a></li>
				</ul>
			</nav>
		</header>
		<div class="intro section">
			<div class="note">
				<strong>인사의 말씀</strong>
				<div>
					<p>
						존경하는 회원님께,<br>
						우리 (주)코레스코의 모기업인 우성건설그룹은 1996년 1월 I.M.F 로 인한 거센 태풍과 같이 밀려오는 시대적인 상황에 자금난을 감당하지 못하고, 부도를 맞았고 이는 회원님들께서도 각종 매스컴을 통해 잘 알고 계시리라 생각 합니다.<br><br>
						(주)코레스코는 회원님들과 고객 여러분과의 약속을 소중히 지키고자 부단한 노력을 경주하였지만 모기업의 부도로 인한 부채가 상당하여 9개 지점중 6개 지점과 공사 중인 모든 지점의 건설중인자산이 경매로 날아가게 되었습니다.<br><br>
						이후 남아 있는 3개지점중 &quot;설악콘도미니엄(시설노후 및 경영악화)&quot; 과 &quot;삼포콘도미니엄(2013년8월) (시설노후 및 경영악화) 결국 영업을 중단하게 되었고 사용할 수 없는 상태에 이르렀지만, 2014년 각고의 노력으로 삼포지점에 대해서만 2014년 7월경 &quot;제3회사&quot;인 (주)이스턴월드가 일부 설비 및 객실을 개보수하여 위탁운영하고 있습니다.<br><br>
						미흡하고 열악하지만 회원님들께 다시 &quot;삼포콘도미니엄&quot;(오션투유), &quot;치악콘도미니엄&quot; 을 서비스 할수 있게 되었으니 많은 이용을 부탁 드립니다.<br><br>
						모든 회원님들께 진심으로 감사의 말씀을 올리며 정유년 하시는f 모든 일에 행운이 가득하시기를 진심으로 기원 합니다.<br><br>
						케이알리젠시(BS콘도 관련), 아이에프지엔드씨(IFG&amp;C) KPM 등 은.. (주)코레스코 와 아무런 연관이 없으며 현재 (주)코레스코 또는 코레스코 3개 의 체인시설(삼포지점(오션투유), 치악지점, 설악지점), 지점 등의 이름으로 홍보하는 행위를 적발시 즉시 신고해 주시기 바랍니다.
					</p>
				</div>
			</div>
		</div>
		<section class="store section">
			<h2 class="tit">코레스코 지점소개</h2>
			<ul class="info">
				<li>
					<div class="info-img on"><!-- 운영중일땐 on 클래스 추가, 미운영중일땐 off클래스 추가 -->
						<img src="http://img.coresco.co.kr/m/img_store01.jpg" alt="삼포지점 오션투유 전경사진" style="width:154px;" />
					</div>
					<div class="info-txt">
						<strong class="name">삼포지점 (오션투유)</strong>
						<p>
							<strong>주소</strong><br>
							강원도 고성군 죽왕면<br>
							삼포리 243-13
						</p>
						<a href="#" class="q-btn go-link"><span>회원예약 바로가기</span></a>
					</div>
				</li>
				<li>
					<div class="info-img on">
						<img src="http://img.coresco.co.kr/m/img_store02.jpg" alt="치악지점 전경사진" style="width:154px;" />
					</div>
					<div class="info-txt">
						<strong class="name">치악지점</strong>
						<p>
							<strong>주소</strong><br>
							강원도 횡성군 우천면<br>
							오원리 539-1
						</p>
						<a href="#" class="q-btn go-link"><span>회원예약 바로가기</span></a>
					</div>
				</li>
				<li>
					<div class="info-img off">
						<img src="http://img.coresco.co.kr/m/img_store03.jpg" alt="설악지점 오션투유 전경사진" style="width:154px;" />
					</div>
					<div class="info-txt">
						<strong class="name">설악지점</strong>
						<p>
							<strong>주소</strong><br>
							강원도 속초시 노학동<br>
							746-68번지(척산온천단지내)
						</p>
						<a href="#" class="q-btn"><span>미운영</span></a>
					</div>
				</li>
			</ul>
			<p class="white mt5">- 성수기(7월 ~ 8월) 예약은 추첨을 통해 진행됩니다.</p>
		</section>
		<section class="store-area sampo section">
			<h2 class="tit"><span>코레스코</span> 삼포지점</h2>
			<div class="slide-store banner01 swiper-container">
				<ul class="swiper-wrapper">
					<li class="swiper-slide"><img src="http://img.coresco.co.kr/m/img_store_banner01.jpg" alt="코레스코 삼포지점 전경사진" style="width:100%;" /></li>
					<li class="swiper-slide"><img src="http://img.coresco.co.kr/m/img_store_banner01.jpg" alt="코레스코 삼포지점 전경사진" style="width:100%;" /></li>
					<li class="swiper-slide"><img src="http://img.coresco.co.kr/m/img_store_banner01.jpg" alt="코레스코 삼포지점 전경사진" style="width:100%;" /></li>
				</ul>
				<a href="#" class="btn-prev">이전</a>
				<a href="#" class="btn-next">다음</a>
			</div>
			<ul class="store-info">
				<li>
					<dl>
						<dt>위치</dt>
						<dd>강원도 고성군 중왕면 삼포리 243-13</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>객실안내</dt>
						<dd>
							총 보유 객실 : 241개 / 총 실가동 객실 : 236개<br>
							(오션 : 86개, 마운틴 : 155개)<br>
							76.57㎡ 5인실기준 (실평수는 13~14평정도 이유: 공유 공간까지 포함하여 계산했기 때문) 1층 짝수방, 2층 3층 가운데 라인, C존 라인 홀수방 해변 쪽 방이 아님!<br>
							짝수방은 오션 , 홀수방은 마운틴<br>
							A존 맨 좌측라인<br>
							701~708/601~609/501~510/401~413/301~313/201~213/101~113<br>
							B존 가운데라인<br>
							709~728/610~629/512~531/414~433/314~323/214~223/프론트<br>
							C존 맨 우측라인<br>
							729~734/630~637/532~541/434~445/324~335/225~235/114~124
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>부대시설</dt>
						<dd>한식당, 노래방, 슈퍼마켓, 당구장, 기념품점, 카페, 사우나, 세미나실, 로비라운지</dd>
					</dl>
				</li>
			</ul>
		</section>
		<section class="store-area chiak section">
			<h2 class="tit"><span>코레스코</span> 치악지점</h2>
			<div class="slide-store banner02 swiper-container">
				<ul class="swiper-wrapper">
					<li class="swiper-slide"><img src="http://img.coresco.co.kr/m/img_store_banner02.jpg" alt="코레스코 치악지점 전경사진" style="width:100%;" /></li>
					<li class="swiper-slide"><img src="http://img.coresco.co.kr/m/img_store_banner02.jpg" alt="코레스코 치악지점 전경사진" style="width:100%;" /></li>
					<li class="swiper-slide"><img src="http://img.coresco.co.kr/m/img_store_banner02.jpg" alt="코레스코 치악지점 전경사진" style="width:100%;" /></li>
				</ul>
				<a href="#" class="btn-prev">이전</a>
				<a href="#" class="btn-next">다음</a>
			</div>
			<ul class="store-info">
				<li>
					<dl>
						<dt>위치</dt>
						<dd>강원도 횡성군 우천면 오원리 539-1</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>객실안내</dt>
						<dd>객실 - 85.95㎡ : 147객실 / 128.92㎡ : 20객실 총객실: 167개</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>부대시설</dt>
						<dd>노래방, 슈퍼마켓, 한식당, 오락실 등</dd>
					</dl>
				</li>
			</ul>
		</section>
		<section class="store-area seorak section">
			<h2 class="tit"><span>코레스코</span> 설악지점</h2>
			<div class="slide-store banner03 swiper-container">
				<ul class="swiper-wrapper">
					<li class="swiper-slide"><img src="http://img.coresco.co.kr/m/img_store_banner03.jpg" alt="코레스코 설악지점 전경사진" style="width:100%;" /></li>
					<li class="swiper-slide"><img src="http://img.coresco.co.kr/m/img_store_banner03.jpg" alt="코레스코 설악지점 전경사진" style="width:100%;" /></li>
					<li class="swiper-slide"><img src="http://img.coresco.co.kr/m/img_store_banner03.jpg" alt="코레스코 설악지점 전경사진" style="width:100%;" /></li>
				</ul>
				<a href="#" class="btn-prev">이전</a>
				<a href="#" class="btn-next">다음</a>
			</div>
			<ul class="store-info">
				<li>
					<dl>
						<dt>위치</dt>
						<dd>강원도 속초시 노학동 746-68번지 (천산온천 단지내)</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>객실안내</dt>
						<dd>객실 : A- 타입(한실): 129실 (76.57㎡) / B- 타입 (양실):33실 / 128.92㎡ (76.57㎡) 총객실: 162개</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>부대시설</dt>
						<dd>한식당, 노래방, 슈퍼마켓, 당구장, 기념품점, 카페, 사우나, 세미나실, 로비라운지</dd>
					</dl>
				</li>
			</ul>
		</section>
		<section class="store-area contact section">
			<h3 class="tit"><span>코레스코</span> 오시는길</h3>
			<div class="map">
				<h4 class="on">삼포 코레스코</h4>
				<div class="view" style="display:block;">
					<div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1565.1809326307755!2d128.5299036568763!3d38.31745028852349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fd894b74d5ee2c3%3A0x7596cbb2b5c79b18!2z6rCV7JuQ64-EIOqzoOyEseq1sCDso73smZXrqbQg7IK87Y-s66asIDI0My0xMw!5e0!3m2!1sko!2skr!4v1489021506831" width="100%" height="159px" frameborder="0" allowfullscreen></iframe>
					</div>
					<p><em>주소</em> <span>강원도 고성군 죽왕면 삼포리 243-13 (삼포해수욕장내</span></p>
				</div>
				<h4>치악 코레스코</h4>
				<div class="view">
					<div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1583.9950986927743!2d128.0944536568577!3d37.437336339274154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3563a5ad45539f6f%3A0xdaa6e089c90ed205!2z6rCV7JuQ64-EIO2aoeyEseq1sCDsmrDsspzrqbQg7Jik7JuQ66asIDUzOS0x!5e0!3m2!1sko!2skr!4v1489022134082" width="100%" height="159px" frameborder="0" allowfullscreen></iframe>
					</div>
					<p><em>주소</em> <span>강원도 횡성군 우천면 오원리 539-1</span></p>
				</div>
				<h4>설악 코레스코</h4>
				<div class="view">
					<div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1567.9237978739832!2d128.53959315687334!3d38.19021409592099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fd8bcbf34f148bf%3A0xfc37cfccdb56fa9!2z7LKZ7IKw7Jio7LKc7Zy07JaR7LSM!5e0!3m2!1sko!2skr!4v1489022186983" width="100%" height="159px" frameborder="0" allowfullscreen></iframe>
					</div>
					<p><em>주소</em> <span>강원도 속초시 노학동 746-68번지 (천산온천단지내)</span></p>
				</div>
			</div>
		</section>
		<footer>
			<ul>
				<li class="f-ico01">
					<a href="tel:1666-4874" title="코레스코 회원권 문의전화"><span>회원권 문의</span></a>
				</li>
				<li class="f-ico02">
					<a href="tel:070-7688-2457" title="삼포지점 이용 문의전화"><span>삼포지점 이용문의</span></a>
				</li>
				<li class="f-ico03">
					<a href="tel:033-631-3811" title="삼포/치악지점 예약 문의전화"><span>예약문의</span></a>
				</li>
			</ul>
			<address>
				<p>(주)코레스코 | 사업자등록번호 220-81-09638 | 강원도 횡성군 우천면 전재로 254</p>
				<p>케이알리젠시(kr리젠시), 아이에프지엔드씨(IFG&amp;C), 케이피엠(KMP) 등 은 (주)코레스코와 아무런 연관이 없으며, (주)코레스코 또는 코레스코 3개의 체인시설 &lt;삼포(오션투유), 치악, 설악&gt; 지점 등의 이름을 사칭하여 홍보 하는 행위를 적발시 즉시 신고해 주시기 바랍니다. </p>
				<p>당사는 당사와 아무런 연관 및 이해관계 없는자들이 코레스코지점 및 (주)코레스코를 사칭하여 불법으로 콘도분양한 자료를 현재 수집중이며 민형사상 손해배상 청구등을 준비중입니다. ( 이에 따른 내용을 잘 알고 계신 분께는 사안에 따라 포상금을 지급해 드리겠습니다. )</p>
				<p>COPYRIGHT koresco CO..LTD ALL RIGHTS RESERVED.</p>
			</address>
		</footer>
	</div>
	<div class="quick">
		<strong>예약문의</strong>
		<div class="call">
			<ul>
				<li class="k-member">
					<a href="tel:1666-4874" title="코레스코 회원권 문의전화">
						코레스코 회원권 문의<br>
						<span>1666-4874</span>
					</a>
				</li>
				<li>
					<a href="tel:070-7688-2457" title="삼포/치악지점 예약 문의전화">
						삼포/치악 지점예약 문의<br>
						070-7688-2457
					</a>
				</li>
				<li>
					<a href="tel:033-631-3811" title="삼포지점 이용 문의전화">
						삼포지점 이용문의<br>
						033-631-3811
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>