@charset "utf-8";

body {background: #f5f5f5; color: #333;}

/*폰트 색상*/
.bg-blue {background-color: #398fe1;}
.fc-blue {color: #398fe1;}
.fc-white {color: #fff;}

/* input태그 커스커마이징 */
.nr-box {position: relative;}
.nr-ph {display: none; position: absolute; top: 17px; left: 1px; text-indent: 15px; color: #999;}

.nr-text, .nr-radio, .nr-button, .nr-reset, .nr-select, .nr-check { appearance: none;	-webkit-appearance: none;  -moz-appearance: none;  -ms-appearance: none; background: #fff;}
.nr-text + label, .nr-radio + label, .nr-check + label {vertical-align: middle; cursor: pointer;}
.nr-text, .nr-radio, .nr-check {border: 1px solid #ddd; outline: none; cursor: pointer;}
.nr-radio:checked, .nr-check:checked {background-color: #fff;}

/*전체*/
.wrap {position: relative; width: 100%;}
.contents {position: relative;}
.main {position: relative;}


.com-ft {text-align: center; font-size: 36px; font-family: "Noto Sans Kr"; margin-top: 55px;}
.com-pd {margin-bottom: 125px;}
.com-box, .page-wrap {margin: 0 auto; margin-top: 10px;}
.com-box, .page-wrap {width:1100px;} /* width:800px */
.br4 {border-radius: 4px;}

.fl-wrap, .fp-wrap, .fw-wrap {margin-top: 40px; background: #fff; border: 1px solid #ddd; padding: 5px 10px;}
.fw-wrap {padding: 30px 90px 40px;}
.faq-th-box, .faq-td-box {position: relative;}
.faq-td-box {border-top: 1px solid #ddd;}
.faq-th, .faq-td {position: relative; float: left; font-size: 16px; padding: 17px 5px;}
.faq-th {text-align: center; box-sizing: border-box;}
.faq-td {color: #464646;}
/*댓글추가_170712_혜준*/
.answer-td {border-top: 1px solid #ddd; background: #fafafa;}
.answer-td .faq-th {padding: 10px 5px;}
.answer-td .nth-2 {line-height: 1.2em; color: #565656; text-align: left; padding-left: 20%;}
.answer-td .nth-4 {text-align: center;}
.faq-th.nth-4 > .logo {position: relative; margin-top: -8px; width: 71px;}
.faq-th.nth-1, .faq-td.nth-1 {width: 88%;}
.faq-th.nth-2, .faq-td.nth-2 {width:12%;}
.faq-td.nth-1 {padding-left: 50px;}
.faq-td.nth-2 {text-align: center;}
.faq-td .idx {position: absolute; top: 17px; left: 10px; color: #398fe1; margin-right: 5px;}
.page-wrap {position: relative; text-align: center;}
.pagenation {display: inline-block; margin-top: 15px; border: 1px solid #ddd;}
.pagenation > li {float:left;}
.pagenation > li > a {display: inline-block; width: 36px; text-align: center; padding: 12px 0; font-size: 16px; background: #fff; color: #398fe1; border-left: 1px solid #ddd;}
.pagenation > li:first-child > a {border-left: none; border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.pagenation > li.first > a {color: #565656;}
.pagenation > li.last > a {color: #565656;}
.pagenation > li:last-child > a {border-top-right-radius: 4px; border-bottom-right-radius: 4px; color: #565656;}
.pagenation > li > a:active, .pagenation > li.on > a {color: #fff; background: #398fe1;}
.wbtn-wrap {position: relative; margin-top: 15px;}
.page-wrap [class*="-btn"] {display: inline-block; text-align: center; font-size: 16px; height: 39px; line-height: 39px;}
.search-btn {background: #505050; width: 80px; border: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; position: relative; top: -3px;}
.write-btn {width: 100px; position: absolute; right: 0;}


.wbtn.dropdown {display: inline-block; width: 100px; height: 40px; font-size: 15px; margin-right: 5px;}
.wbtn.dropdown .btn {position: relative; border: 1px solid #ddd; background: #fff; padding: 0px 10px; border-radius: 6px; text-align: left; outline: none; width: 100%; height: 100%; font-size: 15px;
  color: #999; top: -1px;}
.wbtn.dropdown .btn:hover {background-color: rgba(219,219,219,0.1);}
.wbtn.dropdown .btn:active, .wbtn.dropdown .btn:focus, .wbtn.dropdown .btn:hover, .wbtn.dropdown .btn.on {color: #333; background: #fff;}
.wbtn.dropdown .btn span {position: relative; top: 2px; font-size:10px; color: #398FE2;}
.wbtn.dropdown .dropdown-menu {display: none; position: absolute; border: 1px solid #ddd; background: #fff; border-radius: 6px; margin-top: -1px; z-index: 1; width: 100%;}
.wbtn.dropdown .dropdown-menu li a {display: block; padding: 5px 20px; line-height: 1.2em; font-size: 1em; text-align: left; padding-left: 10px;}
.wbtn.dropdown .dropdown-menu li a:hover {color: #398fe2;}

.page-wrap .nr-text {display: inline-block; position: relative; top: -3px; width: 200px; height: 40px; text-indent: 15px; letter-spacing: 0; background-color: transparent; background: #fff; border: 1px solid #ddd; margin-right: 5px;}


.faq-post {}
.faq-post .com-box {padding: 0;}
.fp-wrap {}
.gray-tit {padding: 20px 40px; border-radius: 4px 4px 0 0; background-color: #575757; color: #fff; font-size: 22px;}
.fp-comment {padding: 20px 40px;}
.fp-tit-box {padding-bottom: 15px; border-bottom: 1px solid #ddd; font-size: 17px;}
/*댓글추가_170712_혜준*/
.fp-title .logo {width: 90px; position: relative; margin-top: -9px; margin-left: 8px; vertical-align: top;}
.fp-date {position: relative; top: 3px; float: right; font-size: 15px; color: #565656;}
.fp-contents, .fp-origin {padding: 15px 0px; font-size: 15px; font-family: "NanumGothic"; line-height: 1.5em; word-break: keep-all;}
.fp-origin {margin-bottom: -80px; border-top: 1px solid #ddd;}
.fp-origin .fq-q {display: block; font-weight: 600;}
.fp-footer {position: relative; margin-top: 80px; padding-top: 20px; border-top: 1px solid #ddd; text-align: center;}
.fp-footer > a {display: inline-block; border: 1px solid #ddd; font-size: 16px; padding: 10px 14px; margin-right: 3px; letter-spacing: 0;}
.fp-footer > a:hover {background-color: rgba(219,219,219,0.1);}
.fp-footer .view-btn {padding: 10px 18px;}
.update-btn, .delete-btn {position: absolute; top: 20px; right: 0;}
.update-btn {right: 80px;}
.delete-btn {}
.udt-icon, .dlt-icon {position: relative; top: 2px; display: inline-block; width: 17px; height: 15px; background: url(http://img.coresco.co.kr/post_icon.png) no-repeat ; margin-right: 2px;}
.dlt-icon {background-position: -50px 0px;}
.faq-post-idpw { margin-top: 60px; margin-bottom: 10px;}
.writer-label, .pw-label {vertical-align: middle; font-size: 15px;}
.pw-label {margin-left: 15px;}
.faq-post-idpw .nr-text {display: inline-block; width: 100px; height: 32px; margin-left: 5px; text-align: center; text-indent: -2px;}

.comment-form {overflow: hidden;}
.comment-form textarea {float: left; width: 898px; height: 110px; padding: 10px; border: 1px solid #969696; border-right: 0; resize: none; box-sizing: border-box;}
.comment-form a {float: right; width: 122px; height: 110px; background-color: #00aeef; color: #fff; font-size: 20px; text-align: center; line-height: 110px;}
.comment-list {margin-top: 20px;}
.comment-list > li {padding: 20px 0; border-top: 1px solid #ddd;}
.comment-list > li:first-child {border-top: 0;}
.comment-list > li .writer {overflow: hidden; margin-bottom: 15px;}
.comment-list > li .writer .user {float: left; color:#323232; font-weight: bold; line-height: 18px;}
.comment-list > li .writer .user .update-btn,
.comment-list > li .writer .user .delete-btn {display: inline-block; position: static; margin-left:3px; padding: 2px 5px; font-size:15px; border: 1px solid #ddd;}
.comment-list > li .writer .date {float: right;}
.comment-list > li .text {line-height: 1.5em;}

.faq-write {}
.fw-wrap {padding: 30px 70px 40px;}
.fwt-label, .fwi-label {font-size: 16px; line-height: 1.8em; margin-bottom: 10px;}
.fwt-label {}
.fw-title .nr-text {font-size: 15px;}
.nr-text {width: 100%; height: 100%; text-indent: 15px; letter-spacing: 0; background-color: transparent; line-height: 3em; height: 42px; font-size: 14px;}
.nr-ph {top: 49px;}
.fw-info {display: table; width: 100%;}
.fw-info > li {display: table-cell; vertical-align: top;}
.fw-info > li.nth-2 {width: 70%; padding-right:15px;}
.fw-info > li.nth-1 .fwi-name {top: 0;}
.fw-info > li.nth-1 .nr-text {width: 184px; text-indent: 5px;}
.fwi-label {margin-top: 20px;}
.dropdown, .dropdown .btn {font-size: 15px;}
.dropdown {width: 90%; height: 42px;}
.dropdown .btn {position: relative; border: 1px solid #ddd; background: #fff; padding: 8px 15px; border-radius: 4px; text-align: left; width: 100%; height: 100%; color:#999;}
.dropdown .btn:focus, .dropdown .btn:active, .dropdown .btn.on {color: #333;}
.dropdown .btn span {position: relative; top: 2px;}
.dropdown .dropdown-menu {display: none; position: absolute; border: 1px solid #d4d4d4; background: #fff; border-radius: 4px; margin-top: -1px; z-index: 1; width: 100%; padding: 3px 0;}
.dropdown .dropdown-menu li a {display: block; padding: 5px 15px; line-height: 1.2em; font-size: 1em;}
.dropdown .dropdown-menu li a:hover {color: #398fe2;}
.filebox .delete-btn {display: inline-block; position: static; border: 1px solid #ddd; font-size: 16px; margin-left: 30px; padding: 10px 14px; margin-right: 3px; letter-spacing: 0;}

/*비밀번호 입력 모달창*/
.faq-pw {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5);}
.faq-pw.on {display: block; z-index: 2;}
.faq-pw-box {position: absolute; width: 500px; top: 50%; left: 50%; margin-top: -155px; margin-left: -250px; padding: 50px 80px;  border: 1px solid #ddd;  background: #fff; z-index: 11;}
.faq-pw p.nth-1 {font-size: 18px;}
.faq-pw p.nth-2 {margin-top: 20px;}
.faq-pw .nr-text, .faq-pw .ok-btn {height: 46px;}
.faq-pw .nr-text {width: 60%; font-size: 17px; }
.faq-pw .ok-btn, .faq-pw .cancle-btn {display: inline-block; font-size: 17px; color: #fff; background: #398FE2;  margin-left: 2%; width: 18%; text-align: center; vertical-align: middle; line-height: 2.6em; letter-spacing: 0; padding: 0;}

/*파일박스 커스터마이징*/
.filebox input[type="file"] {
  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;
}
.filebox label, .filebox .upload-name {display: inline-block; box-sizing: border-box; font-size: 15px; height: 42px;}
.filebox label {
  width: 148px; text-align: center; line-height: 2.7em;
  background-color: #f5f5f5; cursor: pointer; border: 1px solid #d0d0d0;
}
.filebox label span {position: relative; font-size: 10px; margin-left: 6px; top: -2px;}
/* named upload */
.filebox .upload-name {
  position: relative; top: -1px;
  color: #999;
  width: 45%; text-align: left; left: 15px;
  line-height: 2.7em; vertical-align: middle; background-color: #fff; border: none; border-bottom: 1px solid #ddd;
  text-overflow: ellipsis;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none; appearance: none;
}
.fw-contents textarea {width: 100%; resize: none; border-color: #ddd; padding: 5px; height: 300px;}

.fw-pw-box .nr-text {width: 120px; text-align: center; text-indent: 0;}

.fw-footer {margin-top: 40px; text-align: center;}
.cancle-btn, .create-btn {font-size: 16px; padding: 6px 40px; border: 1px solid #ddd;}
.create-btn {margin-left: 5px; border-color: #398fe1;}

/* 180510_공지사항_다솜 */
.notice-list .fl-wrap {margin-top:55px;}
.notice-list .faq-th-box .nth-1 {width:6%}
.notice-list .faq-th-box .nth-2 {width:9%}
.notice-list .faq-th-box .nth-3 {width:56%}
.notice-list .faq-th-box .nth-4 {width:14%}
.notice-list .faq-th-box .nth-5 {width:15%}
.notice-list .faq-td-box .nth-1 {width:6%; color:#398fe1}
.notice-list .faq-td-box .nth-2 {width:9%}
.notice-list .faq-td-box .nth-3 {width:56%; text-align:left}
.notice-list .faq-td-box .nth-4 {width:14%}
.notice-list .faq-td-box .nth-5 {width:15%}
.notice-list .wbtn-wrap {margin-top:42px;}

/*이벤트 랜딩*/
.evtLd {position: relative;}
.evtLd-bg {text-align: center;}
/*성수기 시즌 즉시 확정 이벤트*/

.evtLd-pkSeasonCf {position: relative;}
.evtLd-pkSeasonCf .goods-list {position: absolute; bottom: 65px; width: 910px; left: 50%; margin-left: -450px;}
.evtLd-pkSeasonCf .goods-list > li {float: left; margin-left: 10px;}
.evtLd-pkSeasonCf .goods-list > li:first-child {margin-left: 0;}
.evtLd-pkSeasonCf .goods-list .row {text-align: center;}
.evtLd-pkSeasonCf .goods-list a {display: inline-block;}
.evtLd-pkSeasonCf .goods-list .aFigure {}
.evtLd-pkSeasonCf .goods-list .aBtn {background: #fffc17; color: #0044ab; line-height: 37px; font-size: 18px; padding: 0px 35px 1px; border-radius: 30px; font-family: "Nanum Gothic", sans-serif; font-weight: 700; margin-top: 15px;}
.evtLd-pkSeasonCf .goods-list .aBtn .rArrow:after {width: 8px; height: 8px; top: -1px; border-width: 2px; border-color: #0044ab;}