<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<title>코레스코 회원카드 소지 의무화 안내</title>
	<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/reset.css">
	<link rel="stylesheet" href="http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css?ver=20171201120520">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css?ver=20171201120520">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css?ver=20171201120520">
<!--
	<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/common.css" />
	<link rel="stylesheet" href="http://static.coresco.co.kr/css/m/landing.css" />
-->
    <link rel="stylesheet" href="../../../src/css/m/common.css">
    <link rel="stylesheet" href="../../../src/css/m/landing.css">
    
	<script type="text/javascript" src="http://static.coresco.co.kr/js/m/jquery-1.10.2.min.js?ver=20171201120520"></script>
	<script type="text/javascript" src="http://static.coresco.co.kr/js/m/swiper.min.js?ver=20171201120520"></script>
	<script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js?ver=20171201120520"></script>
	<script type="text/javascript" src="http://static.coresco.co.kr/js/m/mobile.js"></script>
	<script type="text/javascript" src="http://static.coresco.co.kr/js/m/common.js"></script>
	<!--<script type="text/javascript" src="../../static/js/m/common.js"></script>-->
</head>

<body>
	<div class="wrap-evt">
		<section class="sec-evt">
			<div class="evt-area1">
                <div class="evt-box">
                    <figure><img src="http://img.coresco.co.kr/m/landing/img_landing_card_tit.png" alt="2018년 7월 1일부터 회원카드 소지 의무화 됩니다. 코레스코 회원카드 소지 의무화 안내!"></figure>
                    <div class="evt-txt-box">
                        <p>
                            최근 회원을 사칭하여 이용하려는 고객이 다수 확인되어,<br>
                            <em class="bd">2018년 7월 1일부터 회원카드 제출이 의무화</em> 됩니다.<br>
                            <em class="line-bt"><span class="c-red">회원카드 반드시 소지</span>해 주시기 바랍니다.</em>
                        </p>
                        <p class="mt">회원카드를 소지하지 않는 경우, 회원혜택이 제한될 수 있습니다.</p>
                        <p><em class="bd">카드를 분실한 경우, 회원카드를 꼭 재발급</em> 받으세요.</p>
                    </div>
			    </div>
			</div>
			<div class="evt-area2">
                <div class="evt-box">
                    <figure class="card-img"><img src="http://img.coresco.co.kr/m/landing/img_landing_card.png" alt="회원카드 확인 의무화 2018.07.01 시행"></figure>
                    <div class="evt-btn-box">
                        <a href="#none" class="btn-arrow">회원카드 <span class="c-yellow">재발급 신청</span>하기<span class="ic-rArrow"></span></a>
                    </div>
                </div>
			</div>
			<div class="evt-area3">
                <div class="evt-box">
                    <p class="mark-tit">꼭 확인하세요!</p>
                    <ul class="evt-list">
                        <li class="i-s"><em class="bd">재발급에 따른 비용은 55,000원</em> 입니다.</li>
                        <li class="i-s">작성하신 회원정보로 고객님의 회원 확인은 가능함에 따라 추가 제출 서류는 없으며, 회원 조회시에 회원정보가 확인되지 않는 경우에는 고객님께 개별연락을 드리고 있습니다.</li>
                    </ul>
                </div>
			</div>
		</section>
	</div>

</body>

</html>