@charset "utf-8";

/* css 초기화 */
@import url(http://static.coresco.co.kr/css/reset.css);
@import url(http://static.onbiz.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body {margin:0; padding:0; font-family: 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif; box-sizing: border-box; letter-spacing: -1px; color: #3a3434;}
button {cursor: pointer; border: none; background: none;}
a {text-decoration:none; color: #434343;}
input:-ms-input-placeholder {color:#cdcdcd !important;}
input::placeholder {color:#cdcdcd;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
select {-webkit-appearance:none; -moz-appearance:none; appearance:none; padding:0; border-radius:0;}
select::-ms-expand {display:none;}
.input-com {box-sizing:border-box; height:52px; font-size:18px; line-height:52px; letter-spacing:-1.3px; vertical-align:middle; color:#3e3e3e; border:1px solid #cbcbcb; background:#fff}
.input-com:disabled, .disabled {background:#ebebeb;}
.sel-area {display:inline-block; position:relative; width:96px; height:52px;}
.sel-com {position:relative; display:inline-block; box-sizing:border-box; width:100%; height:100%; padding-left:8px; font-size:18px; vertical-align:middle; color:#3e3e3e; border:1px solid #cbcbcb; background:#fff url(http://img.coresco.co.kr/bg_select.png) no-repeat 66px 24px}
.sel-box .sel-area {width:100%;}
.sel-box .sel-com {padding-left:10px; background:#fff url(http://img.coresco.co.kr/bg_select2.jpg) no-repeat right center;}
.cal-txt {cursor:pointer; box-sizing:border-box; height:52px; padding:0 0 0 10px; font-size:18px; line-height:52px; letter-spacing:-1.3px; vertical-align:middle; color:#3e3e3e; border:1px solid #cbcbcb; background:#fff url(http://img.coresco.co.kr/ico_cal.png) no-repeat 276px center;}


/* a태그 아이콘 X버튼*/
.a-i-x, .a-i-x2 {position: absolute; display: block; width: 20px; height: 20px; top: 10px; right: 10px;}
.a-i-x:before, .a-i-x:after,
.a-i-x2:before, .a-i-x2:after {content: ""; display: inline-block; position: absolute; width: 1px; height: 20px; background: #555;}
.a-i-x2:before, .a-i-x2:after {width: 20px; height: 1px;}
.a-i-x:before, .a-i-2:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.a-i-x:after, .a-i-x2:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);   
}
.dropDown-bg {position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background: url(http://img.go.co.kr/black_rgba85.png) repeat;}

/* 공통속성 css */
.dropdown {position: relative;}
.dropdown .btn {position: relative; border: 1px solid #ddd; background: #fff; padding: 8px 20px; border-radius: 6px; text-align: left; outline: none;}
.dropdown .btn span {position: relative; font-size: 10px; color: #398FE2;}
.dropdown .dropdown-menu {display: none; position: absolute; border: 1px solid #ddd; background: #fff; border-radius: 6px; margin-top: -1px; z-index: 1;}
.dropdown .dropdown-menu li a {display: block; padding: 5px 20px; line-height: 1.2em; font-size: 1em;}
.dropdown .dropdown-menu li a:hover {color: #398fe2;}
.a-btn {position:relative; display:inline-block; box-sizing:border-box; height:57px; padding:18px 50px; text-align:center; border:1px solid #0093f1; border-radius:5px; background:#0093f1}
.a-btn span {font-size:18px; line-height:18px; color:#fff}
.btn-cancel {border:1px solid #adadad; background:#adadad}

/* 색상 */
.c-blue {color: #00AEEF;}
.c-skyblue {color:#0093f1;}
.c-gray {color:#898989}

/* 전체 */
#wrap {position:relative; min-width: 1000px;}

/* header영역 */
.header {background: #fff; width: 100%; border-bottom: 1px solid #ddd; height: 134px;}
.gnb-wrap {border-bottom: 1px solid #ddd; background-color: #314c74;}
.gnb-menu {width: 1000px; height: 38px; margin: 0 auto; color: #fff; font-size: 14px; text-align: right; line-height: 38px;}
.gnb-menu a {color: #fff;}
.header-box {position: relative; width: 1000px; margin: 0 auto; padding-top: 30px;}
.header-box > h2 {position: relative; float: left;}
.navbar-brand {position: relative; display: inline-block; top: -5px; width: 108px; height: 28px;}
.navbar-brand img {width: 108px;}

.main-nav {position: relative; float: right; padding-top: 7px;}
.main-nav li {float: left; margin-left: 24px;}
.main-nav li:first-child {margin-left: 0;}
.main-nav li a { font-size:16px; letter-spacing:-2px}

/*header fixed*/
.header.affix {left: 0; top: 0px; z-index: 11; display: none;}

/* footer영역 */
/* .footer {height: 126px; width: 100%; padding: 40px 0; background: #323232; color: #6b6b6b; letter-spacing: 0;}
.footer .f-outer {width: 1000px; margin: 0 auto;}
.footer .f-outer > div {float: left;}
.footer .f-logo-box {position: relative; top: 7px;}
.footer .f-txt-box { position:absolute; margin-top:60px;}
.footer address {font-size: 15px; line-height: 1.5em;}
.footer small {font-size: 12px;}
.footer small span {color: #00ADEF; margin: 0 3px;} */
.footer {height: auto; width: 100%; padding: 40px 0; background: #323232; color: #6b6b6b; letter-spacing: 0;}
.footer .f-outer {width: 1000px; margin: 0 auto;}
.footer .f-logo-box {position: relative; top: 2px; margin-bottom: -2px;}
.footer .f-logo-box + div {float: right; width: 240px; margin-top: 35px; position: relative; right: -100px;}
.footer .f-logo-box + div > img {margin-bottom: 1px;}
.footer .f-logo-box + div > img:last-child {margin-bottom: 0px;}
.footer .f-txt-box { position:absolute; margin-top:40px;}
.footer address {font-size: 16px; line-height: 1.5em; margin-bottom: 16px;}
.footer address + div > div {font-size: 14px; margin-bottom: 12px; line-height: 1.4em;}
.footer address + div > div > p + p {margin-top: 5px;}
.footer small {font-size: 12px;}
.footer small span {color: #00ADEF; margin: 0 3px;}

/* 이용약관, 개인정보취급방침 */
.footer .f_menu {position: relative; top: -5px;display: inline-block;}
.footer .f_menu > li {position: relative; display: inline-block; margin-left: 40px;}
.footer .f_menu > li:before {position: absolute; top: 3px; left: -20px; content: ""; display: inline-block; width: 1px; height: 14px; background: #cdcdcd;}
.footer .f_menu > li:first-child:before {display: none;}
.footer .f_menu > li > a {color: #fff; font-size: 15px;}
.privacy-bg, .privacy-bg .cm-s {display: none;}
.privacy-bg .cm-s {position: absolute; width: 748px; height: 828px; position: absolute; top: 50%; margin-top: -414px; left: 50%; margin-left: -374px; background: #fff;}
.privacy-bg .cm-s strong {font-weight: 700;}
.privacy-bg .cm-s .d-top {height: 50px; background: #314C74; color: #FFF; font-size: 18px;}
.privacy-bg .cm-s .d-top strong {display: inline-block; position: relative; top: 16px; left: 15px; letter-spacing: 0;}
.privacy-bg .cm-s .d-top .a-x {position: absolute; display: inline-block; height: 50px; width: 50px; right: 0px; top: 0;}
.privacy-bg .cm-s .d-top .a-x:before, .privacy-bg .cm-s .d-top .a-x:after {background: #fff; width: 30px; height: 1px; right: 10px; top: 24px;}
.privacy-bg .cm-s .d-cont {height: 778px; overflow: auto; padding: 15px 12px 15px 15px; font-size: 14px; line-height: 1.5; word-break: keep-all; box-sizing: border-box;}
.privacy-bg .cm-s .tablepri {border: 1px solid #000; width: auto; line-height: 1.5em; margin-top: 10px; letter-spacing: -0.2px;}
.privacy-bg .cm-s .tablepri th {font-weight: 400;}
.privacy-bg .cm-s .tablepri th, .privacy-bg .cm-s .tablepri td {padding: 0 5px;}
/* .privacy-bg .cm-s .privacy {font-weight: bold;} */
.privacy-bg .cm-s .d-cont .title {display: block; margin-top: 10px;}
.privacy-bg .cm-s .d-cont .title:first-child {margin-top: 0;}
.term-warp {}
.privacy-bg .useDayTb {position: relative; text-align: center; width: 100%; margin: 10px 0 5px;}
.privacy-bg .useDayTb th, .privacy-bg .useDayTb td {border: 1px solid #6B6B6B; vertical-align: middle; padding: 3px 0;}

/* 코레스코 여름 성수기 이용신청 이현우 170512 */
.side-bar {position:fixed; left:50%; top:160px; width:120px; height:227px; margin-left:520px;}
.side-bar a {display:block; margin-top:10px;}
.side-bar a:first-child {margin-top:0;}


/* .show-xs {display: none !important;}
@media (max-width: 767px) {
  .hidden-xs {display: none !important;}
} */

/* pc팝업 20171228 수연 */
.pop_Bg_bk {width: 100%; height: 100%; position: fixed; top: 0; background: #000; opacity: 0.5; filter: alpha(opacity=50);z-index: 10000;}
#pop_wrap {width: 100%; position: relative;}
.coresco_pop {position: fixed; width: 450px; bottom: 50%; margin-top: 800px; left: 50%; margin-left: -200px; z-index: 10001; background: #fff; border: 2px solid #44a8ff;}
.coresco_pop_top {height: 55px; line-height: 55px; background: #44a8ff;}
.coresco_pop_top p {font-size: 22px; font-weight: bold; text-align: center;  color: #fff;}
.coresco_pop_top > .close {position: absolute; top: 5px; right: 20px;}
.coresco_pop_up_contents .tel_txt span {display: inline-block; vertical-align: middle;}
.coresco_pop_up_contents .tel_txt {color: #4c4c4c; font-size: 19px; text-align: center; border: 1px solid #4c4c4c; border-radius: 40px; width: 230px; margin: 18px auto 0; padding: 7px 5px;}
.coresco_pop_up_contents .tel_txt .tel_icon {padding: 0 5px 0 0;}
.coresco_pop_up_contents .call_txt {font-size: 45px; font-weight: bold; color: #2a87d9; text-align: center; padding: 10px 25px 10px 25px; }
.coresco_pop_up_contents .time_txt {text-align: center; font-size: 20px; padding: 5px 0; line-height: 1.3;}
.coresco_pop_up_contents .txt_s_wr {padding: 0 20px; margin: 10px auto 0; }
.coresco_pop_up_contents .txt_s {text-align: center; font-size: 19px; padding: 15px 0; line-height: 1.5; border-top: 1px solid #dbdbdb;}
.bold_txt {font-weight: 800;}	

/* 20180405_공지팝업_다솜 */
.pop-notice {position:relative; width:100%;}
.pop-notice .pop-notice-wrap {z-index:10005; display:block; position:fixed; box-sizing:border-box; width:750px; top:195px; left:50%; margin-left:-375px; padding:68px 53px 36px; text-align:center; border:4px solid #00a8e6; background: #fff;}
.pop-notice .pop-notice-wrap .pop-container {position:relative;}
.pop-notice .pop-notice-wrap .pop-container p {line-height:32px; word-break:keep-all; text-align:left; color:#242424;}
.pop-notice .pop-notice-wrap .pop-container .pop-tit {padding-bottom:45px; font-size:34px; font-weight:300; letter-spacing:-1.3px;}
.pop-notice .pop-notice-wrap .pop-container .pop-txt {font-size:18px; letter-spacing:-1.5px;}
.pop-notice .pop-notice-wrap .pop-container .c-lineb {border-bottom:1px solid #0093f1}
.pop-notice .pop-notice-wrap .pop-container .a-btn {margin-top:44px;}
.pop-notice .pop-notice-wrap .btn-pop-close {display:block; position:absolute; width:29px; height:29px; top:27px; right:29px; background:url(http://img.coresco.co.kr/close_black.png); background-repeat:no-repeat;}

/* 팝업 공통 */
.popup-com {position:relative; width:100%;}
.popup-com .popup-wrap {z-index:10005; display:block; position:fixed; box-sizing:border-box; width:475px; left:50%; top:195px; margin-left:-237px; border:1px solid #c8c8c8; background:#f1f1f1}
.popup-com.type-01 .popup-wrap {padding:22px 25px 19px; text-align:center;}
.popup-com.type-02 .popup-wrap {width:475px; top:195px; margin-left:-237px; padding:0; text-align:center;}
.popup-com.type-02 .popup-top-box {padding:20px 0 20px; border-bottom:1px solid #cbcbcb; background:#fff;}
.popup-com.type-02 .popup-top-box .popup-tit {font-size:20px; text-align:center;}
.popup-com .popup-form:before, .popup-com .popup-form:after {content:''; clear:both; display:block}
.popup-com .form-box { display:table; position:relative; width:100%; margin-top:14px; text-align:left;}
.popup-com .form-box.type-1 {float:left; width:auto; margin-left:20px}
.popup-com .form-box.type-1.fir {margin-left:0;}
.popup-com .form-box.type-1 .label-com {width:65px}
.popup-com .form-box.type-1.fir .label-com {width:86px}
.popup-com .form-box.type-1 .sel-area {width:117px}
.popup-com .form-box .label-com, .popup-com .form-box .input-com {display:table-cell; color:#3e3e3e;}
.popup-com .form-box .label-com {width:86px; font-size:18px; vertical-align:top; padding-top:15px;}
.popup-com .form-box .input-com {width:100%; max-width:336px; padding:0 9px;}
.popup-com .form-box .line {display:inline-block; width:12px; height:1px; vertical-align:middle; margin:0 1px; background:#aaa}
.popup-com .popup-form .c-mark {margin-top:20px; padding-left:17px; text-indent:-17px; font-size:15px; line-height:18px; letter-spacing:-1.5px; word-break:keep-all; color:#4c4c4c}
.popup-com .popup-form .c-mark + .c-mark {margin-top:6px;}
.popup-com .phone-box .sel-com {line-height:52px;}
.popup-com .phone-box .input-com {display:inline-block; width:210px;}
.popup-com .phone-box .line {margin:0 4px;} .email-box .input-com {display:inline-block;}
.popup-com .email-box .nth-1 {display:inline-block; width:135px}
.popup-com .email-box .nth-2 {display:inline-block; width:173px}
.popup-com .email-box span {margin:0 2px;}
.popup-com .line {display:inline-block; width:12px; height:1px; vertical-align:middle; margin:0 1px; background:#aaa}
.popup-com .code-box {display:table-cell; width:auto;}
.popup-com .code-box .input-com {display:inline-block; width:auto}
.popup-com .code-box .fir {width:142px;}
.popup-com .code-box .last {width:85px;}
.popup-com .code-box .code-pwd {padding-left:2px; vertical-align:middle; color:#3e3e3e}
.popup-com .a-btn {width:100%; height:62px;}
.popup-com .btn-box {clear:both;}
.popup-com .btn-box.type-02 {vertical-align:middle;}
.popup-com .btn-box.type-02:before, .popup-com .btn-box.type-02:after {content:''; display:block; clear:both}
.popup-com .btn-box.type-02 .a-btn {float:right; display:inline-block; width:183px; height:55px; font-weight:bold; vertical-align:middle; border-radius:3px}
.popup-com .btn-box.type-02 a:first-child {float:left}
.popup-com .btn-pop-close {display:block; position:absolute; width:29px; height:29px; top:12px; right:18px; background:url(http://img.coresco.co.kr/btn_pop_close.png); background-repeat:no-repeat;}
.popup-com.type-02 .btn-pop-close {top: 15px; right: 12px;}

.popup-com .pop-check-area {padding:5px 6px 0;}
.popup-com .pop-check-area .check-txt {font-size:20px; text-align:center; line-height:28px; letter-spacing:-1.3px; color:#303030;}

.popup-end .popup-container .consult-end-tit {margin-top:34px; font-size:24px;}
.popup-end .popup-container .consult-end-tit em {font-weight:bold}
.popup-end .popup-container .consult-end-txt {margin-top:22px; font-size:18px; line-height:26px; color:#494949}
.popup-end .popup-container .btn-box {margin-top:28px;}
.popup-end .popup-container .btn-box .a-btn {width:166px; height:50px; padding-top:0; padding-bottom:0; line-height:50px;}
.popup-end .btn-pop-close {top:15px; right:15px;}

.popup-com .bd {font-weight:bold;}
.popup-com .ad-txt {word-break:keep-all;}
.popup-com .c-point {display:inline-block; width:10px; vertical-align:middle; color:#ff0103}
.popup-com .popup-txt {margin-top:15px; text-align:left; color:#797979}

/* 20180516_상담신청 팝업_다솜 */
.popup-consult .popup-top-box .popup-tit {padding-bottom:12px; font-size:20px; line-height:28px; border-bottom:1px solid #cbcbcb;}
.popup-consult .popup-top-box .popup-tit em {font-weight:bold}
.popup-consult .popup-container .popup-con-tit {padding:20px 0 8px; font-size:20px; font-weight:bold; color:#314c74}
.popup-consult .popup-container .popup-form {text-align:left}
.popup-consult .popup-container .btn-box {margin-top:15px;}

/* 20180517_성수기 회원 예약접수 팝업_다솜 */
.popup-summer {}
.popup-summer .popup-container {position: relative; box-sizing: border-box; padding: 10px 25px 18px 25px;}
.popup-summer .btn-box {margin-top:8px;}
#popSummerNext .popup-wrap {width:457px; margin-left:-228px;}
#popSummerCheck .popup-wrap {width:440px; margin-left:-220px;}
.popup-summer .check-table-box {position:relative; width:360px; margin:0 auto}
.popup-summer .check-table-box .check-table {position:relative; border-collapse:collapse; width:100%; margin-top:15px; border-top:2px solid #314c74}
.popup-summer .check-table-box .check-table tr {border:1px solid #c8c8c8;}
.popup-summer .check-table-box .check-table th {width:110px; padding:10px 0 8px; font-size:17px; font-weight:bold; border-right:1px solid #c8c8c8;background:#f1f5fa}
.popup-summer .check-table-box .check-table td {padding:10px 0 8px 19px; font-size:17px; text-align:left; background:#fff}
#popSummerEnd .popup-wrap {background:#fff}


/* 20180405_회원카드발급배너_다솜 */
.side-banner {display:block; position:fixed; top:204px; left:50%; }
.side-banner a {display:block; position:absolute; left:498px; width:195px; height:100%}
.side-banner a img {position:relative;}


/* 달력 */
.popup-cal {} 
.popup-cal .pop_Bg_bk {z-index:10006;}
.popup-cal .popup-wrap {z-index:10010; width:440px; top:180px; margin-left:-115px; border:0;} 
.sltCal-sec {position:relative; background-color: #fff;}
.sltCal-sec h3 {text-align: center; color: #fff; font-size: 20px; background: #009af8; line-height: 3em; font-weight: 400; height: 58px;}
.sltCal-sec .cal-inner {border:1px solid #c8c8c8; border-top:0; padding:20px 0 15px;}
.sltCal-sec p.p-1 {position: relative; text-align: center; margin: 0px auto 10px; font-size: 21px; font-family: "Noto Sans KR", "Nanum Gothic";}
.sltCal-sec p.p-1 em {position: relative; top: -1px; font: normal 600 24px "Arial", sans-serif; color: #464646;}
.sltCal-sec p.p-1 em span {font-size:18px; font-family:'nanum gothic', sans-serif; position: relative; top: -2px;}
.sltCal-sec p.p-1 .control {position: absolute; top:50%; margin-top:-15px; cursor:pointer;}
.sltCal-sec p.p-1 .cal-btn-prev {left:120px;}
.sltCal-sec p.p-1 .cal-btn-next {right:120px;}
.sltCal-sec p.p-1 a {position: relative; display: inline-block; width: 11px; height: 17px; top: 4px; background: url("http://img.go.co.kr/cal_sprBg.png") no-repeat 0 0;}
.sltCal-sec p.p-1 .prev-a {float: left;}
.sltCal-sec p.p-1 .next-a {float: right; background-position: -20px 0;}
.sltCal-sec .cal-tb {position: relative; width: 393px; border-collapse: collapse; margin: 0 auto;}
.sltCal-sec .cal-tb th, .sltCal-sec .cal-tb td {width: 55px; border: 1px solid #e6e6e6; font-size: 15px; color: #000; text-align: center; line-height: 1.3em;}
.sltCal-sec .cal-tb th {background: #282828; padding: 6px 0; color: #fff; border: 1px solid #141414;}
.sltCal-sec .cal-tb td {cursor:pointer; position: relative; font-family: "Arial", sans-serif; height: 55px; vertical-align: top; font-size:16px; padding: 0;}
.sltCal-sec .cal-tb td > div {padding-top: 2px; height: 100%;}

/* 토, 일 체크*/
.sltCal-sec .cal-tb td.sat > div, .sltCal-sec .cal-tb td.sat .prc {color: blue;}
.sltCal-sec .cal-tb td.sun > div, .sltCal-sec .cal-tb td.sun .prc {color: red;}
.sltCal-sec .cal-tb td.sun-bgc > div{background: #fbdede;} 
.sltCal-sec .cal-tb td.sat-bgc > div{background: #ddeffb;}
.sltCal-sec .cal-tb td.off > div {color: #969696; background: #f0f0f0;}
.sltCal-sec .cal-tb td.chkIn, .sltCal-sec .cal-tb td.chkOut {position: relative; color: #fff; z-index: 1;}
.sltCal-sec .cal-tb td.chkIn img, .sltCal-sec .cal-tb td.chkOut img {display: block; margin: 0 auto;}
.sltCal-sec .cal-tb td.ing > div {position: relative; background: #e5f4ff;}
.sltCal-sec .cal-tb td.chkIn > div {background: #e33e3e;}
.sltCal-sec .cal-tb td.chkOut > div {background: #39c9ba;}
.sltCal-sec .cal-tb td.chkIn:before, .sltCal-sec .cal-tb td.chkOut:before,
.sltCal-sec .cal-tb td.ing:before {content: ""; display: block; position: absolute; top: -1px; left: -1px; width: 100%; height: 100%;}
.sltCal-sec .cal-tb td.chkIn:before {border: 1px solid #b52b2b;}
.sltCal-sec .cal-tb td.chkOut:before {border: 1px solid #329288;}
.sltCal-sec .cal-tb td.ing:before {border: 1px solid #D1EAFD;}
.sltCal-sec .cal-tb td .prc {position: absolute; bottom: 0; left: 0; font-size:11px; letter-spacing: -1px; display: block; width: 100%; text-align: center; color: #0056a4;}
.sltCal-sec .cal-tb td.off .prc {color: #969696;}
.sltCal-sec .cal-tb td.chkIn > div, .sltCal-sec .cal-tb td.chkOut > div,
.sltCal-sec .cal-tb td.chkIn .prc, .sltCal-sec .cal-tb td.chkOut .prc {color: #fff;}
.sltCal-sec .cal-tb td.spPrc > div {background: #f0f0f0; color: #969696; font-weight: 700;}
.sltCal-sec .cal-tb td.spPrc:before {display: none;}
.sltCal-sec .cal-tb td .i-spPrc {position: relative; top: -3px;}
.sltCal-sec .cal-tb td.spPrc .prc {color: #014b8e;}
.popup-cal .btn-pop-close {width:25px; height:25px; top:15px; right:20px; background:url(http://img.coresco.co.kr/close.png) no-repeat; background-size:cover} 




