<!DOCTYPE html>
<html lang="ko-KR">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>코레스코</title>
		<!--대표도메인설정-->
		<link rel="canonical" href="http://www.coresco.co.kr" />

		<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="http://static.coresco.co.kr/css/jquery.bxslider.css"/>
		<link rel="stylesheet" href="http://static.coresco.co.kr/css/override.css">
		<link rel="stylesheet" href="http://static.coresco.co.kr/css/common.css">
		<!-- <link rel="stylesheet" href="http://static.coresco.co.kr/css/board/board.css"> -->
		<!-- <link rel="stylesheet" href="../../src/css/jquery.bxslider.css"/>
<link rel="stylesheet" href="../../src/css/override.css">
<link rel="stylesheet" href="../../src/css/common.css">  -->
		<link rel="stylesheet" href="../../src/css/board/board.css">

		<script type="text/javascript" src="http://static.coresco.co.kr/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="http://static.coresco.co.kr/js/jquery.easing.min.js"></script>
		<script type="text/javascript" src="http://static.coresco.co.kr/js/board/board.js"></script>
		<!-- <script type="text/javascript" src="../../src/js/board/board.js"></script> -->

		<!--[if lt IE 9]>
<link rel="stylesheet" href="http://static.coresco.co.kr/css/ie9_lt.css">

<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
	</head>

	<body>
		<h1 class="skip">코레스코</h1>
		<div id="wrap">
			<header class="header">
				<div class="header-box clearfix">
					<h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/coresco_nav_brand.png" alt="코레스코로고"></a></h2>
					<ul class="main-nav">
						<li><a href="#intro">코레스코소개</a></li>
						<li><a href="#branch-intro">지점소개</a></li>
						<li><a href="#branch-sampo">삼포지점</a></li>
						<li><a href="#branch-chiak">치악지점</a></li>
						<li><a href="#branch-seorak">설악지점</a></li>
						<li><a href="#way-to-come">오시는길</a></li>
						<li><a class="c-blue" href="#">사고팔고</a></li>
					</ul>
				</div>
			</header>
			<div class="header affix" id="header-affix">
				<div class="header-box clearfix">
					<h2><a href="./index.html" class="navbar-brand"><img src="http://img.coresco.co.kr/coresco_nav_brand.png" alt="코레스코로고"></a></h2>
					<ul class="main-nav">
						<li><a href="#intro">코레스코소개</a></li>
						<li><a href="#branch-intro">지점소개</a></li>
						<li><a href="#branch-sampo">삼포지점</a></li>
						<li><a href="#branch-chiak">치악지점</a></li>
						<li><a href="#branch-seorak">설악지점</a></li>
						<li><a href="#way-to-come">오시는길</a></li>
						<li><a class="c-blue" href="#">사고팔고</a></li>
					</ul>
				</div>
			</div>

			<!-- 00.게시판이름 -->
			<h2 class="com-ft">코레스코 회원권 거래</h2>

			<!-- 02.게시판 글 일기 및 삭제-->
			<section class="faq-post com-pd">
				<div class="container">
					<article class="com-box fp-wrap br4">
						<!--변경내용_170712_제목변경-->
						<h3 class="gray-tit">보증금 반환금 문의 답변드립니다.</h3>
						<div class="fp-comment">
							<header class="fp-tit-box clearfix">
								<!--변경내용_170712_작성자-->
								<h2 class="fp-title">작성자 <img class="logo" src="http://img.koresco.kr/coresco_logo.png"><span class="fp-date">2017-03-27 12:18:12</span></h2>

							</header>
							<div class="fp-contents">
								<!--답변내용 , 보증금 반환금 문의 / 작성자  5615-->
								<!--안녕하세요. 회원님 코레스코입니다.<br>
								우리 (주)코레스코에서는 위 상황처럼
								회원권관련하여 별도로 회원님들께 보증금반환조건에 대해 어떠한 항목으로도
								입금을 강요하는 행위를 하고 있지 않습니다.<br><br>

								본사이트 메인화면에 보시면 그간 (주)코레스코를 사칭하여 회원님들을 대상으로 금원을 요구하는 회사명을
								안내하여 드리고 있습니다.<br><br>

								참고하시어 회원님들이 불편을 겪는 일이 발생하지 않으셨으면 합니다.<br><br>

								감사합니다.-->
								
								<!--답변내용 , 회원권팝니다  / 작성자  정영훈-->
								안녕하세요. 회원님 코레스코입니다.<br>
								"사고팔고" 게시판에 글작성시에는 회원권에 대한 기본적인 사항과 연락을 받으실수 있는  
								메일, 연락처 등을 같이 기재해주시길 당부드립니다.
							</div>
							<!--변경내용_170712_기존 문의 글, 글에 맞게 변경-->
							<div class="fp-origin">
								<span class="fq-q">문의 글</span>
								031-675-3413번으로 미납금 입금하면 만료시 보증금 반환 한다는데?<br>
								코레스코 라고 하는데?
							</div>
							
							<footer class="fp-footer">
								<a href="" class="view-btn br4">목록보기</a>
							</footer>

						</div>
					</article>

				</div>
			</section>

		</div>

		<!--비밀번호 확인창 추가-->
		<section class="faq-pw br4" id="faq-pw">
			<div class="faq-pw-box br4">
				<p class="nth-1">정보를 수정하려면 비밀번호를 입력해 주세요</p>
				<p class="nth-2">
					<input class="nr-text br4" type="password" placeholder="비밀번호"><a class="ok-btn br4" href="">확인</a><a class="cancle-btn br4" href="">취소</a>
				</p>
			</div>
		</section>


		<footer class="footer">
			<div class="f-outer clearfix">
				<div class="f-logo-box"><img src="http://img.coresco.co.kr/coresco_footer_brand.png" alt="코레스코로고"></div>
				<div class="f-txt-box">
					<address>(주)코레스코 ㅣ 사업자등록번호 220-81-09638 ㅣ 강원도 횡성군 우천면 전재로 254</address>
					<small>COPYRIGHT <span>koresco</span> CO..LTD ALL RIGHTS RESERVED.</small>
				</div>
			</div>
		</footer>

	</body>

</html>