@charset "UTF-8";

/* color */
.white {color:#fff !important;}

/* margin */
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}

/* 공통 */
.tit {
	margin-bottom:12px;
	font-size:20px;
	text-align:center;
}
	.tit span {color:#56b7e4;}

/* 버튼 */
.btn {
	display:inline-block;
	width:70px;
	height:25px;
	border-radius:3px;
	line-height:25px;
	text-align:center;
	box-sizing:border-box;
}
.s-btn {
	display:inline-block;
	width:35px;
	height:16px;
	border-radius:3px;
	line-height:15px;
	text-align:center;
	box-sizing:border-box;
}
.btn.btn-style01,
.s-btn.btn-style01 {
	background-color:#398fe1;
	color:#fff;
}
.btn.btn-style02,
.s-btn.btn-style02 {
	border:1px solid #d2d2d2;
	background:#f4f4f5;
	background:-webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
	color:#403a3a;
}
.btn-area {
	margin-top:10px;
	text-align:center;
	font-size:0;
}
	.btn-area > a {margin:0 3px;}
.btn-wrap {
	overflow:hidden;
	margin-top:10px;
}
	.btn-wrap .left {float:left;}
	.btn-wrap .right {float:right;}

/* 페이징 */
.paging {
	margin:10px 0;
	font-size:0;
	text-align:center;
}
	.paging a {
		display:inline-block;
		width:40px;
		height:40px;
		margin-left:-1px;
		border:1px solid #e4e4e4;
		background-color:#fff;
		line-height:40px;
	}
	.paging a.on {
		background-color:#398fe1;
		color:#fff;
	}
	.paging a.first {border-radius:3px 0 0 3px;}
	.paging a.last {border-radius:0 3px 3px 0;}

/* 폼요소 */
.txt_box {
	height:26px;
	padding:5px;
	border:1px solid #e9e9e9;
	border-radius:3px;
	background-color:#fff;
	box-sizing:border-box;
	-webkit-appearance:none;
	appearance:none;
}
.select_box {
	height:26px;
	padding-left:4px;
	border:1px solid #e9e9e9;
	border-radius:3px;
	box-sizing:border-box;
}

/* 레이어팝업 */
.layerpop {
	display:none;
	position:fixed;
	left:0; right:0;
	top:0; bottom:0;
	z-index:2000;
	background-color:rgba(0,0,0,.5);
	vertical-align:middle;
}
	.layerpop .pop-area {
		position:fixed;
		left:50%; top:50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		min-width:180px;
		padding:20px 40px;
		border-radius:3px;
		background-color:#fff;
	}
	.layerpop .pw-area {text-align:center;}

#Wrapper {padding-top:80px;}
header {
	position:fixed;
	left:0; top:0;
	z-index:9999;
	width:100%;
	box-shadow:0 1px 3px rgba(0,0,0,.5)
}
	header h1 {
		height:43px;
		background-color:#00aeef;
		text-align:center;
		line-height:43px;
	}
		header h1 a {
			color:#fff;
			font-size:20px;
		}

.tab {
	overflow:hidden;
	padding-right:20px;
	background-color:#fff;
}
.gnb {
	text-align:center;
	font-size:0;
	white-space:nowrap;
}
	.gnb > li {
		display:inline-block;
		position:relative;
		margin-left:20px;
	}
		.gnb li > a {
			display:block;
			position:relative;
			height:37px;
			color:#515151;
			font-size:14px;
			line-height:37px;
		}
			.gnb li a.on:before {
				content:'';
				display:block;
				position:absolute;
				left:0; bottom:2px;
				width:100%;
				height:1px;
				background-color:#00aeef;
			}
		.gnb > li > a.on {color:#00aeef;}

footer {background-color:#323232;}
	footer ul {overflow:hidden;}
		footer ul li {
			float:left;
			position:relative;
			width:33%;
			text-align:center;
		}
		footer ul li:before {
			content:'';
			display:block;
			position:absolute;
			left:0; top:50%;
			width:1px;
			height:20px;
			margin-top:-10px;
			background-color:#585857;
		}
		footer ul li:first-child:before {display:none;}
		footer ul li:nth-child(2) {width:34%;}
			footer ul li a {
				display:block;
				height:30px;
			}
				footer ul li a span {
					display:inline-block;
					height:100%;
					padding-left:15px;
					color:#91908f;
					font-weight:bold;
					font-size:13px;
					line-height:30px;
				}
				footer ul li.f-ico01 a span {
					background:url('http://img.coresco.co.kr/m/f_ico01.gif') no-repeat 0 50%;
					background-size:10px 16px;
				}
				footer ul li.f-ico02 a span {
					background:url('http://img.coresco.co.kr/m/f_ico02.gif') no-repeat 0 50%;
					background-size:10px 10px;
				}
				footer ul li.f-ico03 a span {
					background:url('http://img.coresco.co.kr/m/f_ico03.gif') no-repeat 0 50%;
					background-size:12px 12px;
				}
	footer address {
		padding:15px 20px;
		border-top:1px solid #585857;
	}
		footer address p {
			letter-spacing: 0;
			margin-top:10px;
			color:#91908f;
			font-style:normal;
		}
		footer address p:first-child {margin-top:0;}

/* 하단메뉴 */
/*.quick {
	position:fixed;
	left:0; bottom:0;
	z-index:1000;
	width:100%;
}*/
	.quick > strong {
		position:absolute;
		left:50%; top:-14px;
		width:64px; height:14px;
		border-top:1px solid #585858;
		background-color:rgba(52,52,52,.9);
		color:#fefefe;
		text-align:center;
		line-height:14px;
		transform:translateX(-50%);
	}
	.quick > strong:before {
		content:'';
		display:block;
		position:absolute;
		left:-5px; top:0;
		width:5px;
		height:14px;
		background:url('http://img.coresco.co.kr/m/btm_left_bg.png') no-repeat 0 0;
		background-size:100% 100%;
	}
	.quick > strong:after {
		content:'';
		display:block;
		position:absolute;
		right:-5px; top:0;
		width:5px;
		height:14px;
		background:url('http://img.coresco.co.kr/m/btm_right_bg.png') no-repeat 0 0;
		background-size:100% 100%;
	}
	.quick .call {
		padding:7px 12px;
		border-top:1px solid #585858;
		background-color:#323232;
	}
		.quick .call ul {
			overflow:hidden;
			padding:8px 0;
			background-color:#3a7edb;
		}
			.quick .call ul li {
				float:left;
				position:relative;
				width:31%;
				text-align:center;
			}
			.quick .call ul li:nth-child(2) {width:38%;}
			.quick .call ul li:before {
				content:'';
				display:block;
				position:absolute;
				left:0; top:50%;
				width:1px;
				height:26px;
				margin-top:-13px;
				background-color:#f4f4f4;
			}
			.quick .call ul li:first-child:before {display:none;}
				.quick .call ul li a {
					color:#fff;
					font-weight:bold;
				}
					.quick .call ul li.k-member a span {
						color:#98deff;
						font-size:16px;
					}